* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  direction: rtl;
  font-family: "Vazir";
  background-color: whitesmoke;
}

.site {
  height: 100vh;
  width: 100%;
}

#header {
  position: relative;
}

#top_navbar,
#bottom_navbar {
  width: 80%;
  margin: auto;
  color: white;
}

#top_navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

#logo-section {
  width: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

#logo-section > h3 {
  color: #4b566b;
  font-family: "Vazir";
  font-size: 1.5rem;
  text-transform: capitalize;
  position: relative;
}

#site-logo {
  position: absolute;
  right: 7.5rem;
  border-radius: 20%;
  color: white;
  background: linear-gradient(to right top, #d659d4, #37d1e9);
  padding: 0.2rem;
  font-size: 1.5rem;
  margin-left: 1rem;
}

#search {
  margin-right: 1rem;
  width: 58%;
  display: flex;
  position: relative;
}

.search_input {
  width: 80%;
  padding: 0.7rem 2.2rem;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: 1px solid #dae1e7;
  outline: none;
  font-family: "Vazir";
  font-weight: bold;
  font-size: 0.9rem;
  color: #15203a;
}

.search-icon {
  color: #4b566b;
  font-weight: lighter;
  position: absolute;
  top: 1rem;
  right: 0.7rem;
  background: white;
}

.form_select {
  margin: -1;
  background-color: white;
  border: 1px solid #dae1e7;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 0.6rem 0.8rem;
  font-family: "Vazir";
  font-size: 0.9rem;
  color: #4b566b;
  font-weight: bold;
}

.border-focus:focus {
  outline: none;
  border: 1px solid #3475e6;
}

.nav_tool {
  display: flex;
  align-items: center;
  position: relative;
}

.nav-icon-box {
  color: #4b566b;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  text-align: center;
  line-height: 3.2rem;
  font-size: 1.3rem;
}

.nav-icon-box_cart {
  background: rgba(194, 193, 193, 0.5);
}

.nav-text {
  display: flex;
  flex-direction: column;
  color: #4b566b;
  font-size: 0.9rem;
  font-weight: bold;
  position: relative;
}

.nav-caret {
  position: absolute;
  top: 1.5rem;
  left: -0.7rem;
  color: #4b566b;
  font-size: 0.77rem;
}

.nav-text-box_cart {
  margin-right: 10px;
}

.small_text {
  color: #7d879c;
  font-size: 0.68rem;
  font-weight: bold;
}

.good-num-box {
  background: linear-gradient(to right top, #d659d4, #37d1e9);
  position: absolute;
  top: 0rem;
  left: 3.6rem;
  border-radius: 50%;
  width: 1.3rem;
  height: 1.3rem;
  text-align: center;
  line-height: 1.15rem;
}

.good-num {
  font-size: 0.6rem;
  font-weight: bold;
  color: white;
}

@media (max-width: 1100px) {
  #search {
    width: 50%;
  }

  .search-icon-box {
    position: relative;
  }

  .search_icon {
    position: absolute;
    top: 0.8rem;
    right: 1rem;
  }
}
#bottom_navbar {
  background: lightgreen;
}

.sign-model {
  display: none;
}

.sign-page {
  height: 100vh;
  background: rgba(56, 56, 56, 0.5);
  position: relative;
  top: -5.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.signin {
  width: 33%;
  height: 25rem;
  position: relative;
  overflow: hidden;
  background: white;
  border-radius: 10px;
}

.signin-header {
  border-radius: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  font-weight: bold;
}
.signin-header ul {
  display: relative;
}

.signin-header-list {
  display: inline-block;
  margin: 1rem 1rem 0.5rem 1rem;
}
.signin-header-list a {
  color: #4b566b;
  position: relative;
}
.signin-header-list .active-login,
.signin-header-list .active-signup {
  color: #006bee;
}

.login-page-btn::before,
.signup-page-btn::before {
  position: absolute;
  display: block;
  bottom: -0.55rem;
  width: 100%;
  height: 1.5px;
  background-color: transparent;
  transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out, border-color 0.25s ease-in-out;
  content: "";
}

.active-login::before,
.active-signup::before {
  background-color: #fe696a;
  right: 0.2rem;
  z-index: 1;
}

.signin-header {
  background: #eaecee;
  display: flex;
  justify-content: space-between;
}

.close-button {
  border: none;
  background: inherit;
  cursor: pointer;
  font-size: 1.7rem;
  font-weight: lighter;
  margin: 0.35rem 0.8rem;
  transform: rotate(45deg);
}

#login-form,
#signup-form {
  border-radius: 10px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  height: calc(100% - (1.5rem) *2 );
  padding: 1.5rem;
  font-size: 0.88rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#login-form .sign-lable,
#signup-form .sign-lable {
  color: #4b566b;
  font-weight: bold;
}
#login-form .password-confrim-box,
#signup-form .password-confrim-box {
  display: flex;
  justify-content: space-between;
}
#login-form .email-box,
#login-form .password-box,
#signup-form .email-box,
#signup-form .password-box {
  display: flex;
  flex-direction: column;
  position: relative;
}
#login-form .w50,
#signup-form .w50 {
  width: 49%;
}
#login-form .forget-remember-box,
#signup-form .forget-remember-box {
  display: flex;
  justify-content: space-between;
}
#login-form .sign-input,
#signup-form .sign-input {
  padding: 0.7rem;
  width: 100%;
  outline: none;
}
#login-form .eye,
#signup-form .eye {
  position: absolute;
  top: 2.3rem;
  left: 0.5rem;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.3);
  padding: 0.5rem;
}
#login-form .sign-lable,
#login-form .sign-input,
#signup-form .sign-lable,
#signup-form .sign-input {
  margin: 0.2rem;
}
#login-form .login-button,
#signup-form .login-button {
  padding: 0.7rem;
  background-color: #4b4bf7;
  border: none;
  box-shadow: 0 0.5rem 1.125rem -0.5rem #4646ce;
  cursor: pointer;
  color: white;
  font-family: "vazir";
  font-size: 1rem;
  font-weight: bold;
}
#login-form .login-button:hover,
#signup-form .login-button:hover {
  background-color: #4b4bf7;
  transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out, border-color 0.25s ease-in-out, box-shadow 0.2s ease-in-out;
  box-shadow: none;
}

#login-form {
  position: relative;
  top: 0;
  right: -3px;
}

#signup-form {
  position: absolute;
  top: 3.05rem;
  left: 503px;
  width: 100%;
}

.active {
  display: block;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
