<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- links -->
    <link rel="stylesheet" href="/static/font-face.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <link rel="stylesheet" href="/static/admin.css">
    
    <title>Document</title>

    <!-- guide -->
    <!-- mhead minfo -> mobile :: m -> mobile -->
    <!-- thead tinfo -> tablet :: t -> tablet -->
    <!-- lhead linfo -> labtop :: l -> labtop -->

</head>
<body>
    <!-- header -->
    <header>
        <div class="admin-nav-box">
            <a href="">
                <span>ادمین</span>
                <i class="fa fa-user empty"></i>
                <i class="fa fa-caret-down caret-down empty"></i>
            </a>
        </div>
    </header>


    <!-- ---------------------------- right navbar --------------------- -->
    <nav class="right-nav">
        <!-- admin -->
        <div class="right-nav-box white">
            <a class="rn-link">
                <i class="fa fa-user-circle empty"></i>
                <strong>ادمین منو</strong>
            </a>
        </div>
        <!-- home -->
        <div class="right-nav-box">
            <a class="rn-link">
                <i class="fa fa-home empty"></i>
                <span>خانه</span>
            </a>
        </div>
        <!-- product-management -->
        <div class="right-nav-box">
            <a class="rn-link" href="">
                <i class="fa fa-cubes"></i>
                <span>مدیریت محصولات</span>
            </a>
        </div>
        <!-- order-management -->
        <div class="right-nav-box">
            <a class="rn-link">
                <i class="fa fa-shopping-basket empty"></i>
                <span>مدیریت سفارشات</span>
            </a>
        </div>
        <!-- add product -->
        <div class="right-nav-box">
            <a class="rn-link">
                <div class="relative add-product">
                    <small class="fa fa-plus empty"></small>
                    <i class="fa fa-cubes"></i>
                </div>
                <span>اضافه کردن محصول</span>
            </a>
        </div>
    </nav>

    <!-- ---------------------------- pages------------------------------ -->
    <!-- hint : add "active" class for show -->
    <!-- ------- product-managment page -->
    <div class="Product-management">
        <!-- کل صفحه -->
        <div class="container">
            <!-- delete select buttons -->
            <div class="buttons">
                <button class="select button">علامت زدن</button>
                <button class="remove button">حذف</button>
            </div>
            <!-- product list -->
            <div class="products">
                <!-- table : product -->
                <!-- description : firs element of each tr is checkbox
                                   td direction is column -->
                <table class="Ptable">
                    <!-- HEAD -->
                    <tr class="thead"> 
                        <!-- hint : if user press on select button add "active-table-cell" 
                                    class to firs td of each tr -->
                        <td class="tcheckbox">
                            <div class="center">
                                <input type="checkbox" name="" id="">
                            </div>
                        </td>
                        <td><strong>خالی</strong></td>
                        <td><strong>خالی</strong></td>
                        <td><strong>خالی</strong></td>
                        <td><strong>خالی</strong></td>
                        <td><strong>خالی</strong></td>
                        <td><strong>خالی</strong></td>
                        <td><strong>خالی</strong></td>
                        <td><strong>خالی</strong></td>
                        <td>
                            <div class="center">
                                <strong>ویرایش</strong>
                            </div>
                        </td>
                    </tr>
                    <!-- BODY -->
                    <!-- row : 1 -->
                    <tr> 
                        <td class="tcheckbox">
                            <div class="center">
                                <input type="checkbox" name="" id="">
                            </div>
                        </td>
                        <td>خالی</td>
                        <td>خالی</td>
                        <td>خالی</td>
                        <td>خالی</td>
                        <td>خالی</td>
                        <td>خالی</td>
                        <td>خالی</td>
                        <td>خالی</td>
                        <td>
                            <div class="center">
                                <button class="Pedit button">ویرایش</button>
                            </div>
                        </td>
                    </tr>

                    <!-- row : 2 -->
                    <tr> 
                        <td class="tcheckbox">
                            <div class="center">
                                <input type="checkbox" name="" id="">
                            </div>
                        </td>
                        <td>خالی</td>
                        <td>خالی</td>
                        <td>خالی</td>
                        <td>خالی</td>
                        <td>خالی</td>
                        <td>خالی</td>
                        <td>خالی</td>
                        <td>خالی</td>
                        <td>
                            <div class="center">
                                <button class="Pedit button">ویرایش</button>
                            </div>
                        </td>
                    </tr>
                    <!-- row : 3 -->
                    <tr> 
                        <td class="tcheckbox">
                            <div class="center">
                                <input type="checkbox" name="" id="">
                            </div>
                        </td>
                        <td>خالی</td>
                        <td>خالی</td>
                        <td>خالی</td>
                        <td>خالی</td>
                        <td>خالی</td>
                        <td>خالی</td>
                        <td>خالی</td>
                        <td>خالی</td>
                        <td>
                            <div class="center">
                                <button class="Pedit button">ویرایش</button>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        
    </div>

    <!-- hint : add "active" class for show -->
    <!-- ------ order managment page -->
    <div class="Order-management">
        <h1>lor</h1>
    </div>

    <!-- hint : add "active" class for show -->
    <!-- ------- add product page -->
    <div class="Add-product active">
        <div class="head">
            <!-- product category selecttion -->
            <div class="Pcategory">
                <div class="container">
                    <label for="Pcat">نوع محصول</label>
                    <select class="Pselect" name="category-list" id="">
                        <option class="Pselect-option" value="Pmobile">موبایل</option>
                        <option class="Pselect-option" value="Ptablet">تبلت</option>
                        <option class="Pselect-option" value="Plabtop">لبتاب</option>
                    </select>
                </div>
            </div>
        </div>

        <!-- always showing -->
        <!-- product info form -->
        <div class="public-Pinfo">
            <form action="" class="Pinfo">
                <!-- name -->
                <div class="Pinfo-item-box">
                    <label for="Pname">اسم محصول :</label>
                    <input class="border-focus" type="text">
                </div>
                <!-- brand -->
                <div class="Pinfo-item-box">
                    <label for="Pbrand">برند محصول :</label>
                    <input class="border-focus" type="text">
                </div>
                <!-- color -->
                <div class="Pinfo-item-box">
                    <label for="Pcolor">رنگ بندی محصول :</label>
                    <input class="border-focus" type="text">
                </div>
                <!-- cost -->
                <div class="Pinfo-item-box">
                    <label for="Pcost">قیمت محصول :</label>
                    <input class="border-focus" type="text">
                </div>
            </form>
             <!-- product image -->
             <div class="Pimage"> 
                 <!-- doesn't show!!!!!!!!!!!!!!!! -->
                <!-- <img src="2.png" > -->
             </div>
        </div>

        <!-- hint : add "active" class for show -->
        <!-- MOBLILE -->
        <div class="mobile-info-box active">
            <!-- head -->
            <div class="info-head">
                <h3>مشخصات کلی موبایل</h3>
            </div>
            <div class="info-container">
                <div class="info-subBox">
                    <h5 class="info-subBox-title">مشخصات کلی</h5>
                    <!-- 1 -->
                    <div class="info-subBox-item">
                        <label for="">تعداد سیم کارت</label>
                        <input type="text">
                    </div>
                    <!-- 2 -->
                    <div class="info-subBox-item">
                        <label for="">سال تولید</label>
                        <input type="text">
                    </div>
                    <!-- 3 -->
                    <div class="info-subBox-item">
                        <label for="">رنگ بندی</label>
                        <input type="text">
                    </div>
                </div>
                <!-- 2 -->
                <div class="info-subBox">
                    <h5 class="info-subBox-title">پردازنده</h5>
                    <!-- 1 -->
                    <!-- <div class="info-subBox-item">
                        <label for="">پردازنده مرکزی</label>
                        <input type="text">
                    </div> -->
                    <!-- 2 -->
                    <div class="info-subBox-item">
                        <label for="">نوع پردازنده</label>
                        <input type="text">
                    </div>
                    <!-- 3 -->
                    <div class="info-subBox-item">
                        <label for="">پردازنده گرافیکی</label>
                        <input type="text">
                    </div>
                </div>
                <!-- 3 -->
                <div class="info-subBox">
                    <h5 class="info-subBox-title">حافظه</h5>
                    <!-- 1 -->
                    <div class="info-subBox-item">
                        <label for="">حافظه داخلی</label>
                        <input type="text">
                    </div>
                    <!-- 2 -->
                    <div class="info-subBox-item">
                        <label for="">حافظه رم (RAM)</label>
                        <input type="text">
                    </div>
                    <!-- 3 -->
                    <div class="info-subBox-item">
                        <label for="">پشتیبانی از کارت حافظه جانبی</label>
                        <input type="text">
                    </div>
                </div>
                <!-- 4 -->
                <div class="info-subBox">
                    <h5 class="info-subBox-title">دوربین</h5>
                    <!-- 1 -->
                    <div class="info-subBox-item">
                        <label for="">دوربین</label>
                        <input type="text">
                    </div>
                    <!-- 2 -->
                    <div class="info-subBox-item">
                        <label for="">کیفیت دوربین</label>
                        <input type="text">
                    </div>
                    <!-- 3 -->
                    <div class="info-subBox-item">
                        <label for="">عکس پانوراما</label>
                        <input type="text">
                    </div>
                    <!-- 4 -->
                    <div class="info-subBox-item">
                        <label for="">کیفیت فیلمبرداری</label>
                        <input type="text">
                    </div>
                    <!-- 5 -->
                    <div class="info-subBox-item">
                        <label for="">دوربین سلفی</label>
                        <input type="text">
                    </div>
                </div>
                <!-- 5 -->
                <div class="info-subBox">
                    <h5 class="info-subBox-title">صفحه نمایش</h5>
                    <!-- 1 -->
                    <div class="info-subBox-item">
                        <label for="">صفحه نمایش لمسی</label>
                        <input type="text">
                    </div>
                    <!-- 2 -->
                    <div class="info-subBox-item">
                        <label for="">اندازه</label>
                        <input type="text">
                    </div>
                    <!-- 3 -->
                    <div class="info-subBox-item">
                        <label for="">نسبت ابعاد نمایشگر</label>
                        <input type="text">
                    </div>
                    <!-- 4 -->
                    <div class="info-subBox-item">
                        <label for="">رزولوشن</label>
                        <input type="text">
                    </div>
                    <!-- 5 -->
                    <div class="info-subBox-item">
                        <label for="">فناوری محافظت از صفحه نمایش</label>
                        <input type="text">
                    </div>
                </div>
                <!-- 6 -->
                <div class="info-subBox">
                    <h5 class="info-subBox-title">بدنه</h5>
                    <!-- 1 -->
                    <div class="info-subBox-item">
                        <label for="">ابعاد</label>
                        <input type="text">
                    </div>
                    <!-- 2 -->
                    <div class="info-subBox-item">
                        <label for="">وزن</label>
                        <input type="text">
                    </div>
                    <!-- 3 -->
                    <div class="info-subBox-item">
                        <label for="">جنس بدنه</label>
                        <input type="text">
                    </div>
                    <!-- 4 -->
                    <div class="info-subBox-item">
                        <label for="">سایر قابلیت ها</label>
                        <input type="text">
                    </div>
                </div>
                <!-- 7 -->
                <div class="info-subBox">
                    <h5 class="info-subBox-title">امکانات نرم افزاری</h5>
                    <!-- 1 -->
                    <div class="info-subBox-item">
                        <label for="">سیستم عامل</label>
                        <input type="text">
                    </div>
                    <!-- 2 -->
                    <div class="info-subBox-item">
                        <label for="">پشتیبانی از زبان فارسی</label>
                        <input type="text">
                    </div>
                    <!-- 3 -->
                    <div class="info-subBox-item">
                        <label for="">منوی فارسی</label>
                        <input type="text">
                    </div>
                    <!-- 4 -->
                    <div class="info-subBox-item">
                        <label for="">فرمت های پخش موسیقی</label>
                        <input type="text">
                    </div>
                    <!-- 5 -->
                    <div class="info-subBox-item">
                        <label for="">فرمت های پخش ویدیو</label>
                        <input type="text">
                    </div>
                </div>
                <!-- 8 -->
                <div class="info-subBox">
                    <h5 class="info-subBox-title">ارتباطات</h5>
                    <!-- 1 -->
                    <div class="info-subBox-item">
                        <label for="">شبکه های ارتباطی</label>
                        <input type="text">
                    </div>
                    <!-- 2 -->
                    <div class="info-subBox-item">
                        <label for="">فناوری های ارتباطی</label>
                        <input type="text">
                    </div>
                    <!-- 3 -->
                    <div class="info-subBox-item">
                        <label for="">wi-fi</label>
                        <input type="text">
                    </div>
                    <!-- 4 -->
                    <div class="info-subBox-item">
                        <label for="">بلوتوث</label>
                        <input type="text">
                    </div>
                    <!-- 5 -->
                    <div class="info-subBox-item">
                        <label for="">رادیو</label>
                        <input type="text">
                    </div>
                    <!-- 6 -->
                    <div class="info-subBox-item">
                        <label for="">فناوری مکان یابی</label>
                        <input type="text">
                    </div>
                    <!-- 7 -->
                    <div class="info-subBox-item">
                        <label for="">درگاه ارتباطی</label>
                        <input type="text">
                    </div>
                </div>
                <!-- 9 -->
                <div class="info-subBox">
                    <h5 class="info-subBox-title">صدا</h5>
                    <!-- 1 -->
                    <div class="info-subBox-item">
                        <label for="">بلند گو</label>
                        <input type="text">
                    </div>
                    <!-- 2 -->
                    <div class="info-subBox-item">
                        <label for="">خروجی صدا</label>
                        <input type="text">
                    </div>
                    <!-- 3 -->
                    <div class="info-subBox-item">
                        <label for="">جک 3.5 میلیمتری صدا</label>
                        <input type="text">
                    </div>
                </div>
                <!-- 10 -->
                <div class="info-subBox">
                    <h5 class="info-subBox-title">باتری</h5>
                    <!-- 1 -->
                    <div class="info-subBox-item">
                        <label for="">باتری قابل تعویض</label>
                        <input type="text">
                    </div>
                    <!-- 2 -->
                    <div class="info-subBox-item">
                        <label for="">مشخصات باتری</label>
                        <input type="text">
                    </div>
                    <!-- 3 -->
                    <div class="info-subBox-item">
                        <label for="">میزان شارژ پخش آهنگ</label>
                        <input type="text">
                    </div>
                </div>
                <!-- 11 -->
                <div class="info-subBox">
                    <h5 class="info-subBox-title">سایر مشخصات</h5>
                    <!-- 1 -->
                    <div class="info-subBox-item">
                        <label for="">حسگر ها</label>
                        <input type="text">
                    </div>
                    <!-- 2 -->
                    <div class="info-subBox-item">
                        <label for="">اقلام همراه</label>
                        <input type="text">
                    </div>
                    <!-- 3 -->
                    <div class="info-subBox-item">
                        <label for="">سایر قابلیت ها</label>
                        <input type="text">
                    </div>
                    <!-- 4 -->
                    <div class="info-subBox-item">
                        <label for="">بلوتوث</label>
                        <input type="text">
                    </div>
                    <!-- 5 -->
                    <div class="info-subBox-item">
                        <label for="">رادیو</label>
                        <input type="text">
                    </div>
                    <!-- 6 -->
                    <div class="info-subBox-item">
                        <label for="">فناوری مکان یابی</label>
                        <input type="text">
                    </div>
                    <!-- 7 -->
                    <div class="info-subBox-item">
                        <label for="">درگاه ارتباطی</label>
                        <input type="text">
                    </div>
                </div>
            </div>
            <div class="btn-box">
                <button class="Padd button">اضافه کردن</button>
            </div>

        </div>

        <!-- hint : add "active" class for show -->
         <!-- TABLET -->
        <div class="tablet-info-box ">
            <div class="info-head">
                <h3>مشخصات کلی تبلت</h3>
            </div>
            <div class="info-container">
                <div class="info-subBox">
                    <h5 class="info-subBox-title">مشخصات کلی</h5>
                    <!-- 1 -->
                    <div class="info-subBox-item">
                        <label for="">تعداد سیم کارت</label>
                        <input type="text">
                    </div>
                    <!-- 2 -->
                    <div class="info-subBox-item">
                        <label for="">سال تولید</label>
                        <input type="text">
                    </div>
                    <!-- 3 -->
                    <div class="info-subBox-item">
                        <label for="">رنگ بندی</label>
                        <input type="text">
                    </div>
                </div>
                <!-- 2 -->
                <div class="info-subBox">
                    <h5 class="info-subBox-title">پردازنده</h5>
                    <!-- 1 -->
                    <!-- <div class="info-subBox-item">
                        <label for="">پردازنده مرکزی</label>
                        <input type="text">
                    </div> -->
                    <!-- 2 -->
                    <div class="info-subBox-item">
                        <label for="">نوع پردازنده</label>
                        <input type="text">
                    </div>
                    <!-- 3 -->
                    <div class="info-subBox-item">
                        <label for="">پردازنده گرافیکی</label>
                        <input type="text">
                    </div>
                </div>
                <!-- 3 -->
                <div class="info-subBox">
                    <h5 class="info-subBox-title">حافظه</h5>
                    <!-- 1 -->
                    <div class="info-subBox-item">
                        <label for="">حافظه داخلی</label>
                        <input type="text">
                    </div>
                    <!-- 2 -->
                    <div class="info-subBox-item">
                        <label for="">حافظه رم (RAM)</label>
                        <input type="text">
                    </div>
                    <!-- 3 -->
                    <div class="info-subBox-item">
                        <label for="">پشتیبانی از کارت حافظه جانبی</label>
                        <input type="text">
                    </div>
                </div>
                <!-- 4 -->
                <div class="info-subBox">
                    <h5 class="info-subBox-title">دوربین</h5>
                    <!-- 1 -->
                    <div class="info-subBox-item">
                        <label for="">دوربین</label>
                        <input type="text">
                    </div>
                    <!-- 2 -->
                    <div class="info-subBox-item">
                        <label for="">کیفیت دوربین</label>
                        <input type="text">
                    </div>
                    <!-- 3 -->
                    <div class="info-subBox-item">
                        <label for="">عکس پانوراما</label>
                        <input type="text">
                    </div>
                    <!-- 4 -->
                    <div class="info-subBox-item">
                        <label for="">کیفیت فیلمبرداری</label>
                        <input type="text">
                    </div>
                    <!-- 5 -->
                    <div class="info-subBox-item">
                        <label for="">دوربین سلفی</label>
                        <input type="text">
                    </div>
                </div>
                <!-- 5 -->
                <div class="info-subBox">
                    <h5 class="info-subBox-title">صفحه نمایش</h5>
                    <!-- 1 -->
                    <div class="info-subBox-item">
                        <label for="">صفحه نمایش لمسی</label>
                        <input type="text">
                    </div>
                    <!-- 2 -->
                    <div class="info-subBox-item">
                        <label for="">اندازه</label>
                        <input type="text">
                    </div>
                    <!-- 3 -->
                    <div class="info-subBox-item">
                        <label for="">نسبت ابعاد نمایشگر</label>
                        <input type="text">
                    </div>
                    <!-- 4 -->
                    <div class="info-subBox-item">
                        <label for="">رزولوشن</label>
                        <input type="text">
                    </div>
                    <!-- 5 -->
                    <div class="info-subBox-item">
                        <label for="">فناوری محافظت از صفحه نمایش</label>
                        <input type="text">
                    </div>
                </div>
                <!-- 6 -->
                <div class="info-subBox">
                    <h5 class="info-subBox-title">بدنه</h5>
                    <!-- 1 -->
                    <div class="info-subBox-item">
                        <label for="">ابعاد</label>
                        <input type="text">
                    </div>
                    <!-- 2 -->
                    <div class="info-subBox-item">
                        <label for="">وزن</label>
                        <input type="text">
                    </div>
                    <!-- 3 -->
                    <div class="info-subBox-item">
                        <label for="">جنس بدنه</label>
                        <input type="text">
                    </div>
                    <!-- 4 -->
                    <div class="info-subBox-item">
                        <label for="">سایر قابلیت ها</label>
                        <input type="text">
                    </div>
                </div>
                <!-- 7 -->
                <div class="info-subBox">
                    <h5 class="info-subBox-title">امکانات نرم افزاری</h5>
                    <!-- 1 -->
                    <div class="info-subBox-item">
                        <label for="">سیستم عامل</label>
                        <input type="text">
                    </div>
                    <!-- 2 -->
                    <div class="info-subBox-item">
                        <label for="">پشتیبانی از زبان فارسی</label>
                        <input type="text">
                    </div>
                    <!-- 3 -->
                    <div class="info-subBox-item">
                        <label for="">منوی فارسی</label>
                        <input type="text">
                    </div>
                    <!-- 4 -->
                    <div class="info-subBox-item">
                        <label for="">فرمت های پخش موسیقی</label>
                        <input type="text">
                    </div>
                    <!-- 5 -->
                    <div class="info-subBox-item">
                        <label for="">فرمت های پخش ویدیو</label>
                        <input type="text">
                    </div>
                </div>
                <!-- 8 -->
                <div class="info-subBox">
                    <h5 class="info-subBox-title">ارتباطات</h5>
                    <!-- 1 -->
                    <div class="info-subBox-item">
                        <label for="">شبکه های ارتباطی</label>
                        <input type="text">
                    </div>
                    <!-- 2 -->
                    <div class="info-subBox-item">
                        <label for="">فناوری های ارتباطی</label>
                        <input type="text">
                    </div>
                    <!-- 3 -->
                    <div class="info-subBox-item">
                        <label for="">wi-fi</label>
                        <input type="text">
                    </div>
                    <!-- 4 -->
                    <div class="info-subBox-item">
                        <label for="">بلوتوث</label>
                        <input type="text">
                    </div>
                    <!-- 5 -->
                    <div class="info-subBox-item">
                        <label for="">رادیو</label>
                        <input type="text">
                    </div>
                    <!-- 6 -->
                    <div class="info-subBox-item">
                        <label for="">فناوری مکان یابی</label>
                        <input type="text">
                    </div>
                    <!-- 7 -->
                    <div class="info-subBox-item">
                        <label for="">درگاه ارتباطی</label>
                        <input type="text">
                    </div>
                </div>
                <!-- 9 -->
                <div class="info-subBox">
                    <h5 class="info-subBox-title">صدا</h5>
                    <!-- 1 -->
                    <div class="info-subBox-item">
                        <label for="">بلند گو</label>
                        <input type="text">
                    </div>
                    <!-- 2 -->
                    <div class="info-subBox-item">
                        <label for="">خروجی صدا</label>
                        <input type="text">
                    </div>
                    <!-- 3 -->
                    <div class="info-subBox-item">
                        <label for="">جک 3.5 میلیمتری صدا</label>
                        <input type="text">
                    </div>
                </div>
                <!-- 10 -->
                <div class="info-subBox">
                    <h5 class="info-subBox-title">باتری</h5>
                    <!-- 1 -->
                    <div class="info-subBox-item">
                        <label for="">باتری قابل تعویض</label>
                        <input type="text">
                    </div>
                    <!-- 2 -->
                    <div class="info-subBox-item">
                        <label for="">مشخصات باتری</label>
                        <input type="text">
                    </div>
                    <!-- 3 -->
                    <div class="info-subBox-item">
                        <label for="">میزان شارژ پخش آهنگ</label>
                        <input type="text">
                    </div>
                </div>
                <!-- 11 -->
                <div class="info-subBox">
                    <h5 class="info-subBox-title">سایر مشخصات</h5>
                    <!-- 1 -->
                    <div class="info-subBox-item">
                        <label for="">حسگر ها</label>
                        <input type="text">
                    </div>
                    <!-- 2 -->
                    <div class="info-subBox-item">
                        <label for="">اقلام همراه</label>
                        <input type="text">
                    </div>
                    <!-- 3 -->
                    <div class="info-subBox-item">
                        <label for="">سایر قابلیت ها</label>
                        <input type="text">
                    </div>
                    <!-- 4 -->
                    <div class="info-subBox-item">
                        <label for="">بلوتوث</label>
                        <input type="text">
                    </div>
                    <!-- 5 -->
                    <div class="info-subBox-item">
                        <label for="">رادیو</label>
                        <input type="text">
                    </div>
                    <!-- 6 -->
                    <div class="info-subBox-item">
                        <label for="">فناوری مکان یابی</label>
                        <input type="text">
                    </div>
                    <!-- 7 -->
                    <div class="info-subBox-item">
                        <label for="">درگاه ارتباطی</label>
                        <input type="text">
                    </div>
                </div>
            </div>
            <div class="btn-box">
                <button class="Padd button">اضافه کردن</button>
            </div>
        </div>

        <!-- hint : add "active" class for show -->
         <!-- LABTOP -->
        <div class="labtop-info-box">
            <div class="info-head">
                <h3>مشخصات کلی لبتاب</h3>
            </div>
            <div class="info-container">
                <!-- --1-- -->
                <div class="info-subBox">
                    <h5 class="info-subBox-title">مشخصات کلی</h5>
                    <!-- 1 -->
                    <div class="info-subBox-item">
                        <label for="">مدل</label>
                        <input type="text">
                    </div>
                    <!-- 2 -->
                    <div class="info-subBox-item">
                        <label for="">سال تولید</label>
                        <input type="text">
                    </div>
                </div>
                <!-- --2-- -->
                <div class="info-subBox">
                    <h5 class="info-subBox-title">بدنه</h5>
                    <!-- 1 -->
                    <div class="info-subBox-item">
                        <label for="">ابعاد</label>
                        <input type="text">
                    </div>
                    <!-- 2 -->
                    <div class="info-subBox-item">
                        <label for="">وزن</label>
                        <input type="text">
                    </div>
                    <!-- 3 -->
                    <div class="info-subBox-item">
                        <label for="">تاچ پد</label>
                        <input type="text">
                    </div>
                </div>
                <!-- --3-- -->
                <div class="info-subBox">
                    <h5 class="info-subBox-title">پردازنده</h5>
                    <!-- 1 -->
                    <div class="info-subBox-item">
                        <label for="">سازنده پردازنده</label>
                        <input type="text">
                    </div>
                    <!-- 2 -->
                    <div class="info-subBox-item">
                        <label for="">سری پردازنده</label>
                        <input type="text">
                    </div>
                    <!-- 3 -->
                    <div class="info-subBox-item">
                        <label for="">تعداد هسته پردازنده</label>
                        <input type="text">
                    </div>
                    <!-- 4 -->
                    <div class="info-subBox-item">
                        <label for="">نوع پردازنده</label>
                        <input type="text">
                    </div>
                </div>
                <!-- --4-- -->
                <div class="info-subBox">
                    <h5 class="info-subBox-title">حافظه</h5>
                    <!-- 1 -->
                    <div class="info-subBox-item">
                        <label for="">حافظه داخلی</label>
                        <input type="text">
                    </div>
                    <!-- 2 -->
                    <div class="info-subBox-item">
                        <label for="">حافظه رم (RAM)</label>
                        <input type="text">
                    </div>
                </div>
                <!-- --5-- -->
                <div class="info-subBox">
                    <h5 class="info-subBox-title"> نرم افزار</h5>
                    <!-- 1 -->
                    <!-- 2 -->
                    <div class="info-subBox-item">
                        <label for="">کیبورد فارسی</label>
                        <input type="text">
                    </div>
                </div>
                <!-- --6-- -->
                <div class="info-subBox">
                    <h5 class="info-subBox-title">صفحه نمایش</h5>
                    <!-- 1 -->
                    <div class="info-subBox-item">
                        <label for="">صفحه نمایش لمسی</label>
                        <input type="text">
                    </div>
                    <!-- 2 -->
                    <div class="info-subBox-item">
                        <label for="">اندازه</label>
                        <input type="text">
                    </div>
                    <!-- 3 -->
                    <div class="info-subBox-item">
                        <label for="">رزولوشن</label>
                        <input type="text">
                    </div>
                </div>
                <!-- --7-- -->
                <div class="info-subBox">
                    <h5 class="info-subBox-title">صدا</h5>
                    <!-- 1 -->
                    <div class="info-subBox-item">
                        <label for="">اسپیکر</label>
                        <input type="text">
                    </div>
                    <!-- 2 -->
                    <div class="info-subBox-item">
                        <label for="">جک 3.5 میلیمتری صدا</label>
                        <input type="text">
                    </div>
                    <!-- 3 -->
                    <div class="info-subBox-item">
                        <label for="">جک 3.5 میلیمتری میکروفون</label>
                        <input type="text">
                    </div>
                </div>
                <!-- --8-- -->
                <div class="info-subBox">
                    <h5 class="info-subBox-title">ارتباطات</h5>
                    <!-- 1 -->
                    <div class="info-subBox-item">
                        <label for="">ارتباطات بیسی</label>
                        <input type="text">
                    </div>
                    <!-- 2 -->
                    <div class="info-subBox-item">
                        <label for="">wi-fi</label>
                        <input type="text">
                    </div>
                    <!-- 3 -->
                    <div class="info-subBox-item">
                        <label for="">بلوتوث</label>
                        <input type="text">
                    </div>
                    <!-- 4 -->
                    <div class="info-subBox-item">
                        <label for="">درگاه ارتباطی</label>
                        <input type="text">
                    </div>
                </div>
                <!-- --9-- -->
                <div class="info-subBox">
                    <h5 class="info-subBox-title">دوربین</h5>
                    <!-- 1 -->
                    <div class="info-subBox-item">
                        <label for="">وبکم</label>
                        <input type="text">
                    </div>
                    <!-- 2 -->
                    <div class="info-subBox-item">
                        <label for="">کیفیت فیلمبرداری</label>
                        <input type="text">
                    </div>
                </div>
                <!-- --10-- -->
                <div class="info-subBox">
                    <h5 class="info-subBox-title">باتری</h5>
                    <!-- 1 -->
                    <div class="info-subBox-item">
                        <label for="">مشخصات باتری</label>
                        <input type="text">
                    </div>
                </div>
            </div>
            <div class="btn-box">
                <button class="Padd button">اضافه کردن</button>
            </div>
         </div>














    </div>

   

</body>
</html>