<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- links -->
    <link rel="stylesheet" href="/static/font-face.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <link rel="stylesheet" href="/static/admin.css">
    <script src="/static/admin.js"></script>
    
    <title>Document</title>

  
</head>
<body>
    <!-- header -->
    <header>
        <div class="admin-nav-box">
            <a href="">
                <span>ادمین</span>
                <i class="fa fa-user empty"></i>
                <i class="fa fa-caret-down caret-down empty"></i>
            </a>
        </div>
    </header>


    <!-- ---------------------------- right navbar --------------------- -->
    <%- include ('./rightNav.ejs') %>
   

    <!-- ---------------------------- pages------------------------------ -->
    <!-- hint : add "active" class for show -->
    <!-- ------- product-managment page -->

    <%- include ('./productManage.ejs') %>
    

    <!-- hint : add "active" class for show -->
    <!-- ------ order managment page -->
    <div class="Order-management">
        <h1>lor</h1>
    </div>

    <!-- hint : add "active" class for show -->
    <!-- ------- add product page -->
    
        <%- include ('./addProduct/addProduct.ejs') %>
        
      



   

   

</body>
</html>