<div class="Product-management" id="productManageDiv">
    <!-- کل صفحه -->
    <div class="container">
        <ul class="table-list">
            <li class="table-list-item" >
                <a class="link-table">
                    <div class="link-table-container">
                        <div class="head" onclick="showMobileTable()">
                            <i class="fas fa-chevron-down b"></i>
                            موبایل
                        </div>
                        <!-- table -->
                        <div class="product-table-box" id="PMtableM">
                            <div class="products-tabeles">
                                <!-- delete select buttons -->
                                <div class="buttons">
                                    <button class="select button" id="selectBtnM" onclick="mark('mobileTable')">علامت زدن</button>
                                    <button class="remove button" onclick="remove('mobileTable')">حذف</button>
                                </div>
                                <!-- product list -->
                                <div class="products">
                                    <!-- table : product -->
                                    <!-- description : firs element of each tr is checkbox
                                                    td direction is column -->
                                    <table class="Ptable" id="mobileTable">
                                        <!-- HEAD -->
                                        <tr class="thead"> 
                                            <!-- hint : if user press on select button add "active-table-cell" 
                                                        class to firs td of each tr -->
                                            <td class="tcheckbox">
                                                <div class="center">
                                                    <input type="checkbox" id="checkMobile" onchange="checkall(this,'mobileTable')">
                                                </div>
                                            </td>
                                            <td><strong>عکس</strong></td>
                                            <td><strong>کد محصول</strong></td>
                                            <td><strong>اسم</strong></td>
                                            <td><strong>برند</strong></td>
                                            <td><strong>قیمت</strong></td>
                                            <td><strong>حافظه داخلی</strong></td>
                                            <td><strong>نوع پردازنده</strong></td>
                                            <td><strong>دوربین سلفی</strong></td>
                                            <td>
                                                <div class="center">
                                                    <strong>ویرایش</strong>
                                                </div>
                                            </td>
                                        </tr>
                                        <!-- BODY -->
                                        <!-- row : 1 -->
                                        <!-- <tr> 
                                            <td class="tcheckbox">
                                                <div class="center">
                                                    <input type="checkbox" name="" id="">
                                                </div>
                                            </td>
                                            <td>خالی</td>
                                            <td>خالی</td>
                                            <td>خالی</td>
                                            <td>خالی</td>
                                            <td>خالی</td>
                                            <td>خالی</td>
                                            <td>خالی</td>
                                            <td>خالی</td>
                                            <td>
                                                <div class="center">
                                                    <button class="Pedit button">ویرایش</button>
                                                </div>
                                            </td>
                                        </tr> -->
                        
                                        <!-- row : 2 -->
                                        <!-- <tr> 
                                            <td class="tcheckbox">
                                                <div class="center">
                                                    <input type="checkbox" name="" id="">
                                                </div>
                                            </td>
                                            <td>خالی</td>
                                            <td>خالی</td>
                                            <td>خالی</td>
                                            <td>خالی</td>
                                            <td>خالی</td>
                                            <td>خالی</td>
                                            <td>خالی</td>
                                            <td>خالی</td>
                                            <td>
                                                <div class="center">
                                                    <button class="Pedit button">ویرایش</button>
                                                </div>
                                            </td>
                                        </tr> -->
                                        <!-- row : 3 -->
                                        <!-- <tr> 
                                            <td class="tcheckbox">
                                                <div class="center">
                                                    <input type="checkbox" name="" id="">
                                                </div>
                                            </td>
                                            <td>خالی</td>
                                            <td>خالی</td>
                                            <td>خالی</td>
                                            <td>خالی</td>
                                            <td>خالی</td>
                                            <td>خالی</td>
                                            <td>خالی</td>
                                            <td>خالی</td>
                                            <td>
                                                <div class="center">
                                                    <button class="Pedit button">ویرایش</button>
                                                </div>
                                            </td>
                                        </tr> -->
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="table-list-item" > 
                <a class="link-table">
                    <div class="link-table-container">
                        <div class="head" onclick="showTabletTable()">
                            <i class="fas fa-chevron-down"></i>
                            تبلت
                        </div>
                        <!-- table -->
                        <div class="product-table-box" id="PMtableT">
                            <div class="products-tabeles">
                                <!-- delete select buttons -->
                                <div class="buttons">
                                    <button class="select button" id="selectBtnT" onclick="mark('tabletTable')">علامت زدن</button>
                                    <button class="remove button" onclick="remove('tabletTable')">حذف</button>
                                </div>
                                <!-- product list -->
                                <div class="products">
                                    <!-- table : product -->
                                    <!-- description : firs element of each tr is checkbox
                                                    td direction is column -->
                                    <table class="Ptable" id="tabletTable">
                                        <!-- HEAD -->
                                        <tr class="thead"> 
                                            <!-- hint : if user press on select button add "active-table-cell" 
                                                        class to firs td of each tr -->
                                            <td class="tcheckbox">
                                                <div class="center">
                                                    <input type="checkbox" id="checkTablet" onchange="checkall(this,'tabletTable')">
                                                </div>
                                            </td>
                                            <td><strong>عکس</strong></td>
                                            <td><strong>کد محصول</strong></td>
                                            <td><strong>اسم</strong></td>
                                            <td><strong>برند</strong></td>
                                            <td><strong>قیمت</strong></td>
                                            <td><strong>حافظه داخلی</strong></td>
                                            <td><strong>نوع پردازنده</strong></td>
                                            <td><strong>دوربین سلفی</strong></td>
                                            <td>
                                                <div class="center">
                                                    <strong>ویرایش</strong>
                                                </div>
                                            </td>
                                        </tr>
                                        <!-- BODY -->
                                        <!-- row : 1 -->
                                        <!-- <tr> 
                                            <td class="tcheckbox">
                                                <div class="center">
                                                    <input type="checkbox" name="" id="">
                                                </div>
                                            </td>
                                            <td>خالی</td>
                                            <td>خالی</td>
                                            <td>خالی</td>
                                            <td>خالی</td>
                                            <td>خالی</td>
                                            <td>خالی</td>
                                            <td>خالی</td>
                                            <td>خالی</td>
                                            <td>
                                                <div class="center">
                                                    <button class="Pedit button">ویرایش</button>
                                                </div>
                                            </td>
                                        </tr>
                         -->
                                        <!-- row : 2 -->
                                        <!-- <tr> 
                                            <td class="tcheckbox">
                                                <div class="center">
                                                    <input type="checkbox" name="" id="">
                                                </div>
                                            </td>
                                            <td>خالی</td>
                                            <td>خالی</td>
                                            <td>خالی</td>
                                            <td>خالی</td>
                                            <td>خالی</td>
                                            <td>خالی</td>
                                            <td>خالی</td>
                                            <td>خالی</td>
                                            <td>
                                                <div class="center">
                                                    <button class="Pedit button">ویرایش</button>
                                                </div>
                                            </td>
                                        </tr> -->
                                        <!-- row : 3 -->
                                        <!-- <tr> 
                                            <td class="tcheckbox">
                                                <div class="center">
                                                    <input type="checkbox" name="" id="">
                                                </div>
                                            </td>
                                            <td>خالی</td>
                                            <td>خالی</td>
                                            <td>خالی</td>
                                            <td>خالی</td>
                                            <td>خالی</td>
                                            <td>خالی</td>
                                            <td>خالی</td>
                                            <td>خالی</td>
                                            <td>
                                                <div class="center">
                                                    <button class="Pedit button">ویرایش</button>
                                                </div>
                                            </td>
                                        </tr> -->
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="table-list-item" >
                <a class="link-table">
                    <div class="link-table-container">
                        <div class="head" onclick="showlabtopTable()">
                            <i class="fas fa-chevron-down"></i>
                          لپ تاپ
                        </div>
                        <!-- table -->
                        <div class="product-table-box" id="PMtableL">
                            <div class="products-tabeles">
                                <!-- delete select buttons -->
                                <div class="buttons">
                                    <button class="select button">علامت زدن</button>
                                    <button class="remove button">حذف</button>
                                </div>
                                <!-- product list -->
                                <div class="products">
                                    <!-- table : product -->
                                    <!-- description : firs element of each tr is checkbox
                                                    td direction is column -->
                                    <table class="Ptable">
                                        <!-- HEAD -->
                                        <tr class="thead"> 
                                            <!-- hint : if user press on select button add "active-table-cell" 
                                                        class to firs td of each tr -->
                                            <td class="tcheckbox">
                                                <div class="center">
                                                    <input type="checkbox" name="" id="">
                                                </div>
                                            </td>
                                            <td><strong>عکس</strong></td>
                                            <td><strong>اسم</strong></td>
                                            <td><strong>مدل</strong></td>
                                            <td><strong>تعدادهسته پردازنده</strong></td>
                                            <td><strong>کیبورد فارسی</strong></td>
                                            <td><strong>وبکم</strong></td>
                                            <td><strong>باتری</strong></td>
                                            <td><strong>قیمت</strong></td>
                                            
                                            <td>
                                                <div class="center">
                                                    <strong>ویرایش</strong>
                                                </div>
                                            </td>
                                        </tr>
                                        <!-- BODY -->
                                        <!-- row : 1 -->
                                        <tr> 
                                            <td class="tcheckbox">
                                                <div class="center">
                                                    <input type="checkbox" name="" id="">
                                                </div>
                                            </td>
                                            <td>خالی</td>
                                            <td>خالی</td>
                                            <td>خالی</td>
                                            <td>خالی</td>
                                            <td>خالی</td>
                                            <td>خالی</td>
                                            <td>خالی</td>
                                            <td>خالی</td>
                                            <td>
                                                <div class="center">
                                                    <button class="Pedit button">ویرایش</button>
                                                </div>
                                            </td>
                                        </tr>
                        
                                        <!-- row : 2 -->
                                        <tr> 
                                            <td class="tcheckbox">
                                                <div class="center">
                                                    <input type="checkbox" name="" id="">
                                                </div>
                                            </td>
                                            <td>خالی</td>
                                            <td>خالی</td>
                                            <td>خالی</td>
                                            <td>خالی</td>
                                            <td>خالی</td>
                                            <td>خالی</td>
                                            <td>خالی</td>
                                            <td>خالی</td>
                                            <td>
                                                <div class="center">
                                                    <button class="Pedit button">ویرایش</button>
                                                </div>
                                            </td>
                                        </tr>
                                        <!-- row : 3 -->
                                        <tr> 
                                            <td class="tcheckbox">
                                                <div class="center">
                                                    <input type="checkbox" name="" id="">
                                                </div>
                                            </td>
                                            <td>خالی</td>
                                            <td>خالی</td>
                                            <td>خالی</td>
                                            <td>خالی</td>
                                            <td>خالی</td>
                                            <td>خالی</td>
                                            <td>خالی</td>
                                            <td>خالی</td>
                                            <td>
                                                <div class="center">
                                                    <button class="Pedit button">ویرایش</button>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
        </ul>


    </div>
    

    
</div>