<div class="Product-management" id="productManageDiv">
    <!-- کل صفحه -->
    <div class="container">
        <!-- delete select buttons -->
        <div class="buttons">
            <button class="select button">علامت زدن</button>
            <button class="remove button">حذف</button>
        </div>
        <!-- product list -->
        <div class="products">
            <!-- table : product -->
            <!-- description : firs element of each tr is checkbox
                               td direction is column -->
            <table class="Ptable">
                <!-- HEAD -->
                <tr class="thead"> 
                    <!-- hint : if user press on select button add "active-table-cell" 
                                class to firs td of each tr -->
                    <td class="tcheckbox">
                        <div class="center">
                            <input type="checkbox" name="" id="">
                        </div>
                    </td>
                    <td><strong>خالی</strong></td>
                    <td><strong>خالی</strong></td>
                    <td><strong>خالی</strong></td>
                    <td><strong>خالی</strong></td>
                    <td><strong>خالی</strong></td>
                    <td><strong>خالی</strong></td>
                    <td><strong>خالی</strong></td>
                    <td><strong>خالی</strong></td>
                    <td>
                        <div class="center">
                            <strong>ویرایش</strong>
                        </div>
                    </td>
                </tr>
                <!-- BODY -->
                <!-- row : 1 -->
                <tr> 
                    <td class="tcheckbox">
                        <div class="center">
                            <input type="checkbox" name="" id="">
                        </div>
                    </td>
                    <td>خالی</td>
                    <td>خالی</td>
                    <td>خالی</td>
                    <td>خالی</td>
                    <td>خالی</td>
                    <td>خالی</td>
                    <td>خالی</td>
                    <td>خالی</td>
                    <td>
                        <div class="center">
                            <button class="Pedit button">ویرایش</button>
                        </div>
                    </td>
                </tr>

                <!-- row : 2 -->
                <tr> 
                    <td class="tcheckbox">
                        <div class="center">
                            <input type="checkbox" name="" id="">
                        </div>
                    </td>
                    <td>خالی</td>
                    <td>خالی</td>
                    <td>خالی</td>
                    <td>خالی</td>
                    <td>خالی</td>
                    <td>خالی</td>
                    <td>خالی</td>
                    <td>خالی</td>
                    <td>
                        <div class="center">
                            <button class="Pedit button">ویرایش</button>
                        </div>
                    </td>
                </tr>
                <!-- row : 3 -->
                <tr> 
                    <td class="tcheckbox">
                        <div class="center">
                            <input type="checkbox" name="" id="">
                        </div>
                    </td>
                    <td>خالی</td>
                    <td>خالی</td>
                    <td>خالی</td>
                    <td>خالی</td>
                    <td>خالی</td>
                    <td>خالی</td>
                    <td>خالی</td>
                    <td>خالی</td>
                    <td>
                        <div class="center">
                            <button class="Pedit button">ویرایش</button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    
</div>