<nav class="right-nav">
    <!-- admin -->
    <div class="right-nav-box white">
        <a class="rn-link">
            <i class="fa fa-user-circle empty"></i>
            <strong>ادمین منو</strong>
        </a>
    </div>
    <!-- home -->
    <div class="right-nav-box" onclick="aa('خانه')">
            <a class="rn-link"> 
                <i class="fa fa-home empty"></i>
                <span>خانه</span>
            </a>
        
    </div>
    <!-- product-management -->
    <div class="right-nav-box"  onclick="aa('مدیریت محصولات')">
        <a class="rn-link" >
            <i class="fa fa-cubes"></i>
            <span>مدیریت محصولات</span>
        </a>
    </div>
    <!-- order-management -->
    <div class="right-nav-box" onclick="aa('مدیریت سفارشات')">
        <a class="rn-link">
            <i class="fa fa-shopping-basket empty"></i>
            <span>مدیریت سفارشات</span>
        </a>
    </div>
    <!-- add product -->
    <div class="right-nav-box" onclick="aa('اضافه کردن محصول')">
        <a class="rn-link">
            <div class="relative add-product">
                <small class="fa fa-plus empty"></small>
                <i class="fa fa-cubes"></i>
            </div>
            <span>اضافه کردن محصول</span>
        </a>
    </div>
</nav>