<div class="labtop-info-box " id="addLaptop">
    <div class="info-head">
        <h3>مشخصات کلی لپ تاپ</h3>
    </div>
    <div class="info-container">
        <!-- --1-- -->
        <div class="info-subBox">
            <h5 class="info-subBox-title">مشخصات کلی</h5>
            <!-- 1 -->
            <div class="info-subBox-item">
                <label for="">مدل</label>
                <input type="text">
            </div>
            <!-- 2 -->
            <div class="info-subBox-item">
                <label for="">سال تولید</label>
                <input type="text">
            </div>
        </div>
        <!-- --2-- -->
        <div class="info-subBox">
            <h5 class="info-subBox-title">بدنه</h5>
            <!-- 1 -->
            <div class="info-subBox-item">
                <label for="">ابعاد</label>
                <input type="text">
            </div>
            <!-- 2 -->
            <div class="info-subBox-item">
                <label for="">وزن</label>
                <input type="text">
            </div>
            <!-- 3 -->
            <div class="info-subBox-item">
                <label for="">تاچ پد</label>
                <input type="text">
            </div>
        </div>
        <!-- --3-- -->
        <div class="info-subBox">
            <h5 class="info-subBox-title">پردازنده</h5>
            <!-- 1 -->
            <div class="info-subBox-item">
                <label for="">سازنده پردازنده</label>
                <input type="text">
            </div>
            <!-- 2 -->
            <div class="info-subBox-item">
                <label for="">سری پردازنده</label>
                <input type="text">
            </div>
            <!-- 3 -->
            <div class="info-subBox-item">
                <label for="">تعداد هسته پردازنده</label>
                <input type="text">
            </div>
            <!-- 4 -->
            <div class="info-subBox-item">
                <label for="">نوع پردازنده</label>
                <input type="text">
            </div>
        </div>
        <!-- --4-- -->
        <div class="info-subBox">
            <h5 class="info-subBox-title">حافظه</h5>
            <!-- 1 -->
            <div class="info-subBox-item">
                <label for="">حافظه داخلی</label>
                <input type="text">
            </div>
            <!-- 2 -->
            <div class="info-subBox-item">
                <label for="">حافظه رم (RAM)</label>
                <input type="text">
            </div>
        </div>
        <!-- --5-- -->
        <div class="info-subBox">
            <h5 class="info-subBox-title"> نرم افزار</h5>
            <!-- 1 -->
            <!-- 2 -->
            <div class="info-subBox-item">
                <label for="">کیبورد فارسی</label>
                <input type="text">
            </div>
        </div>
        <!-- --6-- -->
        <div class="info-subBox">
            <h5 class="info-subBox-title">صفحه نمایش</h5>
            <!-- 1 -->
            <div class="info-subBox-item">
                <label for="">صفحه نمایش لمسی</label>
                <input type="text">
            </div>
            <!-- 2 -->
            <div class="info-subBox-item">
                <label for="">اندازه</label>
                <input type="text">
            </div>
            <!-- 3 -->
            <div class="info-subBox-item">
                <label for="">رزولوشن</label>
                <input type="text">
            </div>
        </div>
        <!-- --7-- -->
        <div class="info-subBox">
            <h5 class="info-subBox-title">صدا</h5>
            <!-- 1 -->
            <div class="info-subBox-item">
                <label for="">اسپیکر</label>
                <input type="text">
            </div>
            <!-- 2 -->
            <div class="info-subBox-item">
                <label for="">جک 3.5 میلیمتری صدا</label>
                <input type="text">
            </div>
            <!-- 3 -->
            <div class="info-subBox-item">
                <label for="">جک 3.5 میلیمتری میکروفون</label>
                <input type="text">
            </div>
        </div>
        <!-- --8-- -->
        <div class="info-subBox">
            <h5 class="info-subBox-title">ارتباطات</h5>
            <!-- 1 -->
            <div class="info-subBox-item">
                <label for="">ارتباطات بیسی</label>
                <input type="text">
            </div>
            <!-- 2 -->
            <div class="info-subBox-item">
                <label for="">wi-fi</label>
                <input type="text">
            </div>
            <!-- 3 -->
            <div class="info-subBox-item">
                <label for="">بلوتوث</label>
                <input type="text">
            </div>
            <!-- 4 -->
            <div class="info-subBox-item">
                <label for="">درگاه ارتباطی</label>
                <input type="text">
            </div>
        </div>
        <!-- --9-- -->
        <div class="info-subBox">
            <h5 class="info-subBox-title">دوربین</h5>
            <!-- 1 -->
            <div class="info-subBox-item">
                <label for="">وبکم</label>
                <input type="text">
            </div>
            <!-- 2 -->
            <div class="info-subBox-item">
                <label for="">کیفیت فیلمبرداری</label>
                <input type="text">
            </div>
        </div>
        <!-- --10-- -->
        <div class="info-subBox">
            <h5 class="info-subBox-title">باتری</h5>
            <!-- 1 -->
            <div class="info-subBox-item">
                <label for="">مشخصات باتری</label>
                <input type="text">
            </div>
        </div>
    </div>
    <div class="btn-box">
        <button class="Padd button" id="addLaptopButton" onclick="addProduct('laptop')">اضافه کردن</button>
    </div>
 </div>