<div class="Add-product " id="addProductDiv">
<div class="head">
    <!-- product category selecttion -->
    <div class="Pcategory">
        <div class="container">
            <label for="Pcat">نوع محصول</label>
            <select class="Pselect" name="category-list" id="selectTag" onchange="bb(this)">
                <option class="Pselect-option" value="Pmobile">موبایل</option>
                <option class="Pselect-option" value="Ptablet">تبلت</option>
                <option class="Pselect-option" value="Plabtop">لپ تاپ</option>
            </select>
        </div>
    </div>
</div>


<div class="public-Pinfo">
    <form action="" class="Pinfo">
        <!-- name -->
        <div class="Pinfo-item-box">
            <label for="Pname">اسم محصول :</label>
            <input class="border-focus" type="text">
        </div>
        <!-- brand -->
        <div class="Pinfo-item-box">
            <label for="Pbrand">برند محصول :</label>
            <input class="border-focus" type="text">
        </div>
        <!-- color -->
        <div class="Pinfo-item-box">
            <label for="Pcolor">رنگ بندی محصول :</label>
            <input class="border-focus" type="text">
        </div>
        <!-- cost -->
        <div class="Pinfo-item-box">
            <label for="Pcost">قیمت محصول :</label>
            <input class="border-focus" type="text">
        </div>
    </form>
     <!-- product image -->
     <div class="Pimage"> 
         <!-- doesn't show!!!!!!!!!!!!!!!! -->
        <!-- <img src="2.png" > -->
     </div>
</div>

<!-- hint : add "active" class for show -->
<!-- MOBLILE -->
<%- include ('./addMobile.ejs') %>


<!-- hint : add "active" class for show -->
 <!-- TABLET -->
 <%- include ('./addTablet.ejs') %>


<!-- hint : add "active" class for show -->
 <!-- LABTOP -->
 <%- include ('./addlaptop.ejs') %>

</div>
