<div class="tablet-info-box  " id="addTablet">
    <div class="info-head">
        <h3>مشخصات کلی تبلت</h3>
    </div>
    <div class="info-container">
        <div class="info-subBox">
            <h5 class="info-subBox-title">مشخصات کلی</h5>
            <!-- 1 -->
            <div class="info-subBox-item">
                <label for="">تعداد سیم کارت</label>
                <input type="text">
            </div>
            <!-- 2 -->
            <div class="info-subBox-item">
                <label for="">سال تولید</label>
                <input type="text">
            </div>
            <!-- 3 -->
            <div class="info-subBox-item">
                <label for="">رنگ بندی</label>
                <input type="text">
            </div>
        </div>
        <!-- 2 -->
        <div class="info-subBox">
            <h5 class="info-subBox-title">پردازنده</h5>
            <!-- 1 -->
            <!-- <div class="info-subBox-item">
                <label for="">پردازنده مرکزی</label>
                <input type="text">
            </div> -->
            <!-- 2 -->
            <div class="info-subBox-item">
                <label for="">نوع پردازنده</label>
                <input type="text">
            </div>
            <!-- 3 -->
            <div class="info-subBox-item">
                <label for="">پردازنده گرافیکی</label>
                <input type="text">
            </div>
        </div>
        <!-- 3 -->
        <div class="info-subBox">
            <h5 class="info-subBox-title">حافظه</h5>
            <!-- 1 -->
            <div class="info-subBox-item">
                <label for="">حافظه داخلی</label>
                <input type="text">
            </div>
            <!-- 2 -->
            <div class="info-subBox-item">
                <label for="">حافظه رم (RAM)</label>
                <input type="text">
            </div>
            <!-- 3 -->
            <div class="info-subBox-item">
                <label for="">پشتیبانی از کارت حافظه جانبی</label>
                <input type="text">
            </div>
        </div>
        <!-- 4 -->
        <div class="info-subBox">
            <h5 class="info-subBox-title">دوربین</h5>
            <!-- 1 -->
            <div class="info-subBox-item">
                <label for="">دوربین</label>
                <input type="text">
            </div>
            <!-- 2 -->
            <div class="info-subBox-item">
                <label for="">کیفیت دوربین</label>
                <input type="text">
            </div>
            <!-- 3 -->
            <div class="info-subBox-item">
                <label for="">عکس پانوراما</label>
                <input type="text">
            </div>
            <!-- 4 -->
            <div class="info-subBox-item">
                <label for="">کیفیت فیلمبرداری</label>
                <input type="text">
            </div>
            <!-- 5 -->
            <div class="info-subBox-item">
                <label for="">دوربین سلفی</label>
                <input type="text">
            </div>
        </div>
        <!-- 5 -->
        <div class="info-subBox">
            <h5 class="info-subBox-title">صفحه نمایش</h5>
            <!-- 1 -->
            <div class="info-subBox-item">
                <label for="">صفحه نمایش لمسی</label>
                <input type="text">
            </div>
            <!-- 2 -->
            <div class="info-subBox-item">
                <label for="">اندازه</label>
                <input type="text">
            </div>
            <!-- 3 -->
            <div class="info-subBox-item">
                <label for="">نسبت ابعاد نمایشگر</label>
                <input type="text">
            </div>
            <!-- 4 -->
            <div class="info-subBox-item">
                <label for="">رزولوشن</label>
                <input type="text">
            </div>
            <!-- 5 -->
            <div class="info-subBox-item">
                <label for="">فناوری محافظت از صفحه نمایش</label>
                <input type="text">
            </div>
        </div>
        <!-- 6 -->
        <div class="info-subBox">
            <h5 class="info-subBox-title">بدنه</h5>
            <!-- 1 -->
            <div class="info-subBox-item">
                <label for="">ابعاد</label>
                <input type="text">
            </div>
            <!-- 2 -->
            <div class="info-subBox-item">
                <label for="">وزن</label>
                <input type="text">
            </div>
            <!-- 3 -->
            <div class="info-subBox-item">
                <label for="">جنس بدنه</label>
                <input type="text">
            </div>
            <!-- 4 -->
            <div class="info-subBox-item">
                <label for="">سایر قابلیت ها</label>
                <input type="text">
            </div>
        </div>
        <!-- 7 -->
        <div class="info-subBox">
            <h5 class="info-subBox-title">امکانات نرم افزاری</h5>
            <!-- 1 -->
            <div class="info-subBox-item">
                <label for="">سیستم عامل</label>
                <input type="text">
            </div>
            <!-- 2 -->
            <div class="info-subBox-item">
                <label for="">پشتیبانی از زبان فارسی</label>
                <input type="text">
            </div>
            <!-- 3 -->
            <div class="info-subBox-item">
                <label for="">منوی فارسی</label>
                <input type="text">
            </div>
            <!-- 4 -->
            <div class="info-subBox-item">
                <label for="">فرمت های پخش موسیقی</label>
                <input type="text">
            </div>
            <!-- 5 -->
            <div class="info-subBox-item">
                <label for="">فرمت های پخش ویدیو</label>
                <input type="text">
            </div>
        </div>
        <!-- 8 -->
        <div class="info-subBox">
            <h5 class="info-subBox-title">ارتباطات</h5>
            <!-- 1 -->
            <div class="info-subBox-item">
                <label for="">شبکه های ارتباطی</label>
                <input type="text">
            </div>
            <!-- 2 -->
            <div class="info-subBox-item">
                <label for="">فناوری های ارتباطی</label>
                <input type="text">
            </div>
            <!-- 3 -->
            <div class="info-subBox-item">
                <label for="">wi-fi</label>
                <input type="text">
            </div>
            <!-- 4 -->
            <div class="info-subBox-item">
                <label for="">بلوتوث</label>
                <input type="text">
            </div>
            <!-- 5 -->
            <div class="info-subBox-item">
                <label for="">رادیو</label>
                <input type="text">
            </div>
            <!-- 6 -->
            <div class="info-subBox-item">
                <label for="">فناوری مکان یابی</label>
                <input type="text">
            </div>
            <!-- 7 -->
            <div class="info-subBox-item">
                <label for="">درگاه ارتباطی</label>
                <input type="text">
            </div>
        </div>
        <!-- 9 -->
        <div class="info-subBox">
            <h5 class="info-subBox-title">صدا</h5>
            <!-- 1 -->
            <div class="info-subBox-item">
                <label for="">بلند گو</label>
                <input type="text">
            </div>
            <!-- 2 -->
            <div class="info-subBox-item">
                <label for="">خروجی صدا</label>
                <input type="text">
            </div>
            <!-- 3 -->
            <div class="info-subBox-item">
                <label for="">جک 3.5 میلیمتری صدا</label>
                <input type="text">
            </div>
        </div>
        <!-- 10 -->
        <div class="info-subBox">
            <h5 class="info-subBox-title">باتری</h5>
            <!-- 1 -->
            <div class="info-subBox-item">
                <label for="">باتری قابل تعویض</label>
                <input type="text">
            </div>
            <!-- 2 -->
            <div class="info-subBox-item">
                <label for="">مشخصات باتری</label>
                <input type="text">
            </div>
            <!-- 3 -->
            <div class="info-subBox-item">
                <label for="">میزان شارژ پخش آهنگ</label>
                <input type="text">
            </div>
        </div>
        <!-- 11 -->
        <div class="info-subBox">
            <h5 class="info-subBox-title">سایر مشخصات</h5>
            <!-- 1 -->
            <div class="info-subBox-item">
                <label for="">حسگر ها</label>
                <input type="text">
            </div>
            <!-- 2 -->
            <div class="info-subBox-item">
                <label for="">اقلام همراه</label>
                <input type="text">
            </div>
            <!-- 3 -->
            <div class="info-subBox-item">
                <label for="">سایر قابلیت ها</label>
                <input type="text">
            </div>
            <!-- 4 -->
            <div class="info-subBox-item">
                <label for="">بلوتوث</label>
                <input type="text">
            </div>
            <!-- 5 -->
            <div class="info-subBox-item">
                <label for="">رادیو</label>
                <input type="text">
            </div>
            <!-- 6 -->
            <div class="info-subBox-item">
                <label for="">فناوری مکان یابی</label>
                <input type="text">
            </div>
            <!-- 7 -->
            <div class="info-subBox-item">
                <label for="">درگاه ارتباطی</label>
                <input type="text">
            </div>
        </div>
    </div>
    <div class="btn-box">
        <button class="Padd button">اضافه کردن</button>
    </div>
</div>