<!-- <header id="header"> -->
    
    <!-- top navbar -->
    <nav id="top_navbar">
        <div class="container">
            <a href="#" id="logo-section">
                <h3 class="logo-site-name">site name</h3>
                <i id="site-logo" class="fa fa-phone-laptop"></i> <!-- or img tag -->
            </a>
            <div id="search">
                <i class="fa fa-search search-icon"></i>
                <input class="search_input border-focus" type="text" placeholder="جستجو برای محصول">
                <select name="" class="form_select border-focus ">
                    <option class="select_option" value=""> همه دسته بندی </option>
                    <option class="select_option" value=""> کامپیوتر </option>
                    <option class="select_option" value=""> موبایل </option>
                    <option class="select_option" value=""> دوربین </option>
                    <option class="select_option" value=""> هدست </option>
                </select>
            </div>
            <div class="d-flex left-top-nav ">
               
                <!-- acount -->
                <a href="#" class="nav_tool acount" onclick="showSignPage()">
                    <div class="nav-icon-box">
                        <i class="vav-icon fa fa-user"></i>
                    </div>

                    <p class="nav-text">
                        <small class="small_text"> سلام وارد شوید </small>
                        حساب من
                    </p>
                </a>
                <!-- shop -->
                <div class="nav_tool shop">
                    <a href="#" class="nav_icon">
                        <!--تعداد کالاهای موجود در سبد خرید-->
                        <div class="good-num-box">
                            <span class="good-num">0</span>
                        </div>
    
                        <div class="nav-icon-box nav-icon-box_cart">
                            <i class="vav-icon fa fa-cart-arrow-down"></i>
                        </div>
    
                    </a>
                    <a href="#" class="nav_text_box nav-text-box_cart">
                        <p class="nav-text nav-text-arrow">
                            <small class="small_text">سبد خرید</small>
                            124700
    
                        </p>
                        <i class="fa fa-caret-down  nav-caret "></i>
                    </a>
                </div>
                <!-- toggle -->
                <a href="#" class="nav_tool navbar-toggler-icon">
                    <div class="nav-icon-box">
                        <i class="vav-icon fa fa-bars"></i>
                    </div>
                </a>
                
                   
            </div>
        </div>
    </nav>

    <!-- bottom navbar -->
    <nav id="bottom_navbar">
        <div class="container">
            <ul class="right-bottom-navbar">
                <li class="right-bottom-navbar-item rp0 maxWmobile">
                    <a href="#" class="bottom-nav-link ">خانه</a>
                    <ul class="dropDown-menu">
                         </ul>
                </li>
                <li class="right-bottom-navbar-item">
                    <a href="#" class="bottom-nav-link ">قطعات جانبی موبایل</a>
                    <div class="dropDown-menu">
                        <ul class="">
                            <div class="list">
                                <li class="dropDown-menu-item"><a href="" class="dd-menu-it-link">کیف و کاور گوشی</a></li>
                                <li class="dropDown-menu-item"><a href="" class="dd-menu-it-link">محافظ صفحه نمایش گوشی</a></li>
                                <li class="dropDown-menu-item"><a href="" class="dd-menu-it-link">پایه نگه دارنده گوشی و تبلت</a></li>
                                <li class="dropDown-menu-item"><a href="" class="dd-menu-it-link">کابل و مبدل</a></li>
                                <li class="dropDown-menu-item"><a href="" class="dd-menu-it-link">قطعات جانبی موبایل و تبلت</a></li>
                                <li class="dropDown-menu-item"><a href="" class="dd-menu-it-link">کیت تمیز کننده</a></li>
                                <li class="dropDown-menu-item"><a href="" class="dd-menu-it-link">مبدل برق</a></li>
                                <li class="dropDown-menu-item"><a href="" class="dd-menu-it-link">شارژر تبلت و موبایل</a></li>
                                <li class="dropDown-menu-item"><a href="" class="dd-menu-it-link">پاوربانک(شارژر همراه)</a></li>
                                <li class="dropDown-menu-item"><a href="" class="dd-menu-it-link">لوازم جانبی اپل واج</a></li>
                            </div>
                            <div class="list">
                                <li class="dropDown-menu-item"><a href="" class="dd-menu-it-link">مجموعه لوازم جانبی</a></li>
                                <li class="dropDown-menu-item"><a href="" class="dd-menu-it-link">محافظ لنز گوشی و موبایل</a></li>
                                <li class="dropDown-menu-item"><a href="" class="dd-menu-it-link">قطعات یدکی موبایل و تبلت</a></li>
                                <li class="dropDown-menu-item"><a href="" class="dd-menu-it-link">قلم لمسی(stylus)</a></li>
                                <li class="dropDown-menu-item"><a href="" class="dd-menu-it-link">گیفت کارت</a></li>
                                <li class="dropDown-menu-item"><a href="" class="dd-menu-it-link">کارت خوان</a></li>
                                <li class="dropDown-menu-item"><a href="" class="dd-menu-it-link">کارت حافظه</a></li>
                                <li class="dropDown-menu-item"><a href="" class="dd-menu-it-link">لوازم تعمیرات موبایل، تبلت و کارای دیجیتال</a></li>
                                <li class="dropDown-menu-item"><a href="" class="dd-menu-it-link">خالی</a></li>
                                <li class="dropDown-menu-item"><a href="" class="dd-menu-it-link">خالی</a></li>
                            </div>
                        
                        </ul>
                    </div>
                </li>
                <li class="right-bottom-navbar-item">
                    <a href="#" class="bottom-nav-link">موبایل</a>
                    <div class="dropDown-menu mobile">
                        <ul class="">
                            <div class="list">
                                <li class="dropDown-menu-item"><a href="" class="dd-menu-it-link">سامسونگ</a></li>
                                <li class="dropDown-menu-item"><a href="" class="dd-menu-it-link">هاواوی</a></li>
                                <li class="dropDown-menu-item"><a href="" class="dd-menu-it-link">اپل</a></li>
                                <li class="dropDown-menu-item"><a href="" class="dd-menu-it-link">نوکیا</a></li>
                                <li class="dropDown-menu-item"><a href="" class="dd-menu-it-link">شیائومی</a></li>
                                <li class="dropDown-menu-item"><a href="" class="dd-menu-it-link">آنر</a></li>
                                <li class="dropDown-menu-item"><a href="" class="dd-menu-it-link">ال جی</a></li>
                                <li class="dropDown-menu-item"><a href="" class="dd-menu-it-link">مایکروسافت</a></li>
                                <li class="dropDown-menu-item"><a href="" class="dd-menu-it-link">سونی</a></li>
                                <li class="dropDown-menu-item"><a href="" class="dd-menu-it-link">اچ تی سی</a></li>
                            </div>
                            <div class="list">
                                <li class="dropDown-menu-item"><a href="" class="dd-menu-it-link">ایسوس</a></li>
                                <li class="dropDown-menu-item"><a href="" class="dd-menu-it-link">گوگل</a></li>
                                <li class="dropDown-menu-item"><a href="" class="dd-menu-it-link">خالی</a></li>
                                <li class="dropDown-menu-item"><a href="" class="dd-menu-it-link">خالی</a></li>
                                <li class="dropDown-menu-item"><a href="" class="dd-menu-it-link">خالی</a></li>
                                <li class="dropDown-menu-item"><a href="" class="dd-menu-it-link">خالی</a></li>
                            </div>
                        </ul>
                    </div>
                    <!-- <ul class="dropDown-menu">
                        <li class="dropDown-menu-item"><a href="" class="dd-menu-it-link">سامسونگ</a></li>
                        <li class="dropDown-menu-item"><a href="" class="dd-menu-it-link">هاواوی</a></li>
                        <li class="dropDown-menu-item"><a href="" class="dd-menu-it-link">اپل</a></li>
                        <li class="dropDown-menu-item"><a href="" class="dd-menu-it-link">نوکیا</a></li>
                        <li class="dropDown-menu-item"><a href="" class="dd-menu-it-link">شیائومی</a></li>
                        <li class="dropDown-menu-item"><a href="" class="dd-menu-it-link">آنر</a></li>
                        <li class="dropDown-menu-item"><a href="" class="dd-menu-it-link">ال جی</a></li>
                        <li class="dropDown-menu-item"><a href="" class="dd-menu-it-link">مایکروسافت</a></li>
                        <li class="dropDown-menu-item"><a href="" class="dd-menu-it-link">سونی</a></li>
                        <li class="dropDown-menu-item"><a href="" class="dd-menu-it-link">اچ تی سی</a></li>
                        <li class="dropDown-menu-item"><a href="" class="dd-menu-it-link">ایسوس</a></li>
                        <li class="dropDown-menu-item"><a href="" class="dd-menu-it-link">گوگل</a></li>
                        <li class="dropDown-menu-item"><a href="" class="dd-menu-it-link">خالی</a></li>
                        <li class="dropDown-menu-item"><a href="" class="dd-menu-it-link">خالی</a></li>
                    </ul> -->
                </li>
                <li class="right-bottom-navbar-item"><a href="#" class="bottom-nav-link">تبلت</a></li>
                <li class="right-bottom-navbar-item"><a href="#" class="bottom-nav-link">لب تاپ</a></li>
                
            </ul>

            <!-- if admin login add "active" class to the ul classes -->
            <ul class="left-bottom-navbar">
                <li class="lp0 left-bottom-navbar-item">
                    <a href="/admin" class="bottom-nav-link ">مدیریت</a>

                    <!-- not needed -->
                    <!-- <div class="dropDown-menu Admin">
                        <ul>
                            <li class="dropDown-menu-item">
                                <a href="" class="dd-menu-it-link">
                                    <span>مدیریت محصولات</span>
                                </a>
                            </li>
                            <li class="dropDown-menu-item">
                                <a href="" class="dd-menu-it-link">
                                    <span>لیست سفارشات</span>
                                </a>
                            </li>
                            <li class="dropDown-menu-item no-border">
                                <a href="" class="dd-menu-it-link">
                                <span>رسید خرید ها</span>
                                </a>
                            </li>
                        </ul>
                    </div> -->

                    
                    <!-- <i class="fa fa-caret-down caret-down"></i> -->
                </li>
            </ul>
        </div>
    </nav>


<!-- </header> -->
 











 