<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- links -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/font-face.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/header.css">
    <link rel="stylesheet" href="static/signup_login.css">
    <!--  -->
    
    <title>fa_digi_fa</title>
</head>
<!-- just for sure fv :) -->

<body>
    
    
    <div class="site" id="site">
        <!-- ------------------------------------------ header ------------------------------------------- -->
        <%- include ('./layouts/header') %>

        <!-- ------------------------------------------ login / sign up ------------------------------------------- -->
        <!-- for show sign in/up page add active class to sign-model class (first div) -->
        <div class="sign-model " id="sign-page">
            <div class="sign-page ">
                <div class="signin" id="signIn">
                    <div class="signin-header">
                        <ul>
                            <li class="signin-header-list">

                                <!--if user select sign up btn add "active-login" to class list of a tag -->
                                <a href="#" id="login-page-btn" class="login-page-btn active-login" onclick="login()">
                                    <i class="fa fa-lock"></i>
                                    ورود
                                </a>
                            </li>
                            <li class="signin-header-list">

                                <!--if user select sign up btn add "active-signup" to class list of a tag -->
                                <a href="#" id="signup-page-btn" class="signup-page-btn" onclick="register()">
                                    <i class="fa fa-user "></i>
                                    ثبت نام
                                </a>
                            </li>
                        </ul>
                        <div class="close">
                            <button class="close-button" id="close-signPage-button" onclick="clode_signPage()">+</button>
                        </div>
                    </div>

                    <!-- login form -->  <!-- sign up form -->
                    <%- include ('./signup_login') %>
                   



                </div>
            </div>

        </div>



        <section class="container">
            <div class="btn-box" style="margin: 10rem 45rem; min-width: 10rem; border: none; padding: 1rem; border-radius: 5px;">
                <a href="/product">
                    <button style="min-width: 10rem; cursor: pointer; color: white; background-color: rgb(37, 35, 35); border: none; padding: 1rem; border-radius: 5px;">
                        show product
                    </button>
                </a>
            </div>
            
        </section>
        <!-- footer -->
        <%- include ('./layouts/footer') %>
        

    </div>



    
    <script src="/static/home.js"></script>
    <script src="/static/scroll-effect.js"></script>
</body>

</html>