<!-- log in -->
<div class="singIn-height ">
    <form action="" id="login-form" class="flex w100">
        <div class="email-box">
            <label for="email" class="sign-lable"> آدرس ایمیل یا نام کاربری</label>
            <input type="text" class="sign-input border-focus" id="email_username" placeholder="addres@gmail.com">

            <!-- error effect -->
            <div class="invalid-box" id="invalid_email_log" >
                <p class="invalid-text"> لطفا ایمیل معتبری وارد کنید! </p>
            </div>

        </div>

        <div class="password-box">
            <label for="password" class="sign-lable">پسورد</label>
            <div>
                <input type="password" id="password-login" class="sign-input border-focus">
                <!-- need one function for eye icon : when click show the password 
                        and remove "fa-eye" class and add "fa-eye-slash" class to i list class
                        and need a function to make password hash -->
                <!--  -->
                <i class="fa fa-eye eye"></i>
            </div>
            
            <!-- error effect -->
            <div class="invalid-box" id="invalid_password_log">
                <p class="invalid-text"> لطفا رمز را به درستی وارد کنید! </p>
            </div>

        </div>

        <div class="forget-remember-box">
            <div class="checkbox">
                <input type="checkbox" id="checkbox_rememberMe" class="checkbox"> مرا به خاطر بسپار
            </div>

            <a href="#forget-password-page">فراموشی رمز؟</a>
        </div>

        <button class="login-button" id="login-btn"> ورود </button>

    </form>
</div>

<!-- sign up -->
<form action="" id="signup-form" class="">
    <div class="email-box">
        <label for="username" class="sign-lable">نام کاربری</label>
        <input type="text" id="username" class="sign-input border-focus">

        <!-- error effect -->
        <div class="invalid-box" id="invalid_username_sign">
            <p class="invalid-text"> </p>
        </div>

    </div>

    <div class="email-box">
        <label for="email" class="sign-lable">آدرس ایمیل</label>
        <input type="text" id="email" class="sign-input border-focus" placeholder="addres@gmail.com">

        <!-- error effect -->
        <div class="invalid-box" id="invalid_email_sign">
            <p class="invalid-text"> !</p>
        </div>

    </div>

    <div class="password-confrim-box">
        <div class="password-box w50">
            <label for="password" class="sign-lable">پسورد</label>
            <div>
                <input type="password" id="password-signup" class="sign-input border-focus">
                <!-- need one function for eye icon : when click show the password 
                        and remove "fa-eye" class and add "fa-eye-slash" class to i list class
                        and need a function to make password hash -->
                <!--  -->
                <i class="fa fa-eye eye"></i>
                <div class="invalid-box" id="invalid_password_sign">
                    <p class="invalid-text" > !</p>
                </div>
            </div>
        </div>
            <!-- error effect -->

        <div class="password-box w50">
            <label for="password" class="sign-lable">پسورد</label>
            <div>
                <input type="password" id="password-confrim" class="sign-input border-focus">
                <!-- need one function for eye icon : when click show the password 
                        and remove "fa-eye" class and add "fa-eye-slash" class to i list class
                        and need a function to make password hash -->
                <!--  -->
                <i class="fa fa-eye eye"></i>

                <div class="invalid-box" id="invalid_confirm">
                    <p class="invalid-text"> !</p>
                </div>
            </div>
        </div>
    </div>
    


    <button class="login-button"> ثبت نام </button>

</form>