* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  min-width: 22.6rem;
  direction: rtl;
  font-family: "Vazir";
  background-color: white;
}

.site {
  height: 200vh;
  min-width: 22.6rem;
  width: 100%;
}

#top_navbar,
#bottom_navbar {
  padding: 20px 10px 0;
  background-color: white;
}
#top_navbar .container,
#bottom_navbar .container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
#top_navbar .container .left-top-nav .acount,
#bottom_navbar .container .left-top-nav .acount {
  margin-left: 1rem !important;
  margin-right: 0.5rem;
}
#top_navbar .container .left-top-nav .shop,
#bottom_navbar .container .left-top-nav .shop {
  margin-right: 1rem !important;
}

#bottom_navbar {
  padding-top: 0.1rem !important;
  position: sticky;
  top: 5.2rem;
  transition: all 0.4s ease;
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.1);
}

.not-show-buttom_navbar {
  transform: translateY(-100%);
  transition: all 0.4s ease;
}

#top_navbar {
  position: sticky;
  top: 0;
  z-index: 5;
  padding-bottom: 1rem;
}
#top_navbar .navbar-toggler-icon {
  display: none;
}

.stuck-nav {
  position: fixed;
  top: -1rem;
}

#logo-section {
  min-width: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

#logo-section > h3 {
  color: #4b566b;
  font-family: "Vazir";
  font-size: 1.5rem;
  text-transform: capitalize;
  position: relative;
}

#site-logo {
  position: absolute;
  right: 7.5rem;
  border-radius: 20%;
  color: white;
  background: linear-gradient(to right top, #d659d4, #37d1e9);
  padding: 0.2rem;
  font-size: 1.5rem;
  margin-left: 1rem;
}

#search {
  margin-right: 1rem;
  width: 58%;
  display: flex;
  position: relative;
}

.search_input {
  width: 80%;
  padding: 0.7rem 2.2rem;
  padding-left: 0.3rem;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: 1px solid #dae1e7;
  outline: none;
  font-family: "Vazir";
  font-weight: bold;
  font-size: 0.9rem;
  color: #15203a;
}

.search-icon {
  color: #4b566b;
  font-weight: lighter;
  position: absolute;
  top: 1rem;
  right: 0.7rem;
  background: white;
}

.form_select {
  margin: -1;
  background-color: white;
  border: 1px solid #dae1e7;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 0.6rem 0.8rem;
  font-family: "Vazir";
  font-size: 0.9rem;
  color: #4b566b;
  font-weight: bold;
}

.nav_tool {
  display: flex;
  align-items: center;
  position: relative;
  min-width: 7.2rem;
}

.nav-icon-box {
  color: #4b566b;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  text-align: center;
  line-height: 3.2rem;
  font-size: 1.3rem;
}

.nav-icon-box_cart {
  background-color: #f3f5f9;
}

.nav-text {
  display: flex;
  flex-direction: column;
  color: #4b566b;
  font-size: 0.9rem;
  font-weight: bold;
  position: relative;
}

.nav-caret {
  position: absolute;
  top: 1.5rem;
  left: -0.7rem;
  color: #4b566b;
  font-size: 0.77rem;
}

.nav-text-box_cart {
  margin-right: 10px;
}

.small_text {
  color: #7d879c;
  font-size: 0.68rem;
  font-weight: bold;
}

.good-num-box {
  background: linear-gradient(to right top, #d659d4, #37d1e9);
  position: absolute;
  top: 0rem;
  left: 3.6rem;
  border-radius: 50%;
  width: 1.3rem;
  height: 1.3rem;
  text-align: center;
  line-height: 1.15rem;
}

.good-num {
  font-size: 0.6rem;
  font-weight: bold;
  color: white;
}

@media (max-width: 64rem) {
  body {
    background-color: yellow;
  }

  #top_navbar .container,
#bottom_navbar .container {
    width: 100% !important;
    padding: 0 1rem;
  }

  #top_navbar {
    position: inherit;
  }
  #top_navbar .nav_tool {
    max-width: 1rem;
  }
  #top_navbar .nav-text, #top_navbar .nav-caret {
    margin: 0;
  }
}
@media (max-width: 50.5rem) {
  body {
    background-color: red;
  }

  #bottom_navbar {
    display: none;
  }

  #top_navbar {
    min-width: 20rem;
  }

  #top_navbar {
    padding: 10px 0;
    padding-right: 10px;
  }
  #top_navbar .container {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  #top_navbar .container #search {
    display: none;
  }
  #top_navbar .container .left-top-nav .navbar-toggler-icon {
    display: block;
  }
  #top_navbar .container .left-top-nav .nav_tool {
    min-width: 3rem;
    margin: 0 0.4rem !important;
    padding: 0 !important;
    justify-content: center;
  }
  #top_navbar .container .left-top-nav .shop {
    margin-left: 0 !important;
  }
  #top_navbar .container .left-top-nav .shop .good-num-box {
    left: -0.1rem;
  }
  #top_navbar .nav-text, #top_navbar .nav-caret {
    display: none;
  }

  #bottom_navbar .container {
    width: 100% !important;
    flex-direction: column;
    justify-content: flex-start;
  }
  #bottom_navbar .container .right-bottom-navbar {
    flex-direction: column;
    width: 100%;
    min-width: 20rem !important;
  }
  #bottom_navbar .container .right-bottom-navbar .right-bottom-navbar-item {
    background-color: #f6f9fc;
    margin: 0.5rem 0;
    border-radius: 0.3rem;
  }
  #bottom_navbar .container .right-bottom-navbar .rp0 {
    padding-right: 1.5rem !important;
  }
  #bottom_navbar .container .left-bottom-navbar {
    width: 100%;
  }
  #bottom_navbar .container .left-bottom-navbar .caret-down {
    right: 5rem;
  }
}
#bottom_navbar a:hover {
  color: #fe696a;
  transition: color 0.3s ease-out;
}
#bottom_navbar .container {
  width: 80%;
  color: white;
  font-weight: bold;
}
#bottom_navbar .container .right-bottom-navbar-item,
#bottom_navbar .container .left-bottom-navbar-item {
  position: relative;
  padding: 0.7rem 1.5rem;
}
#bottom_navbar .container .right-bottom-navbar-item .bottom-nav-link:hover,
#bottom_navbar .container .left-bottom-navbar-item .bottom-nav-link:hover {
  color: #fe696a;
  transition: color 0.3s ease-out;
}
#bottom_navbar .container .right-bottom-navbar-item .right-bottom-navbar-item:hover,
#bottom_navbar .container .right-bottom-navbar-item .bottom-nav-link:hover + .dropDown-menu,
#bottom_navbar .container .right-bottom-navbar-item .dropDown-menu:hover,
#bottom_navbar .container .left-bottom-navbar-item .right-bottom-navbar-item:hover,
#bottom_navbar .container .left-bottom-navbar-item .bottom-nav-link:hover + .dropDown-menu,
#bottom_navbar .container .left-bottom-navbar-item .dropDown-menu:hover {
  display: block;
}
#bottom_navbar .container .right-bottom-navbar-item .dropDown-menu,
#bottom_navbar .container .left-bottom-navbar-item .dropDown-menu {
  position: absolute;
  padding: 1rem;
  width: 40vw;
  top: 2.4rem;
  right: 0.7rem;
  display: none;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.1), 0 0 0 2px white;
}
#bottom_navbar .container .right-bottom-navbar-item .dropDown-menu ul,
#bottom_navbar .container .left-bottom-navbar-item .dropDown-menu ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#bottom_navbar .container .right-bottom-navbar-item .dropDown-menu ul .list,
#bottom_navbar .container .left-bottom-navbar-item .dropDown-menu ul .list {
  width: 50%;
  display: flex;
  flex-direction: column;
}
#bottom_navbar .container .right-bottom-navbar-item .dropDown-menu ul .list .dropDown-menu-item,
#bottom_navbar .container .left-bottom-navbar-item .dropDown-menu ul .list .dropDown-menu-item {
  margin: 0.3rem 0.5rem;
  font-size: 0.8rem;
  width: 100%;
}
#bottom_navbar .container .right-bottom-navbar-item .dropDown-menu.mobile,
#bottom_navbar .container .left-bottom-navbar-item .dropDown-menu.mobile {
  width: 13vw !important;
}
#bottom_navbar .container .right-bottom-navbar {
  display: flex;
  min-width: 31.25rem;
}
#bottom_navbar .container .left-bottom-navbar-item {
  position: relative;
}
#bottom_navbar .container .left-bottom-navbar-item .dropDown-menu.Admin {
  width: 12vw !important;
  padding: 0;
  margin: 0;
}
#bottom_navbar .container .left-bottom-navbar-item .dropDown-menu.Admin ul {
  font-size: 0.88rem;
}
#bottom_navbar .container .left-bottom-navbar-item .dropDown-menu.Admin ul .dropDown-menu-item {
  border-bottom: 1px solid rgba(191, 189, 189, 0.5);
  width: 100%;
  margin: 0.3rem 0;
  padding: 0 0 0.6rem;
}
#bottom_navbar .container .left-bottom-navbar-item .dropDown-menu.Admin ul .dropDown-menu-item a {
  width: 100%;
  display: inline-block;
}
#bottom_navbar .container .left-bottom-navbar-item .dropDown-menu.Admin ul .dropDown-menu-item span {
  padding: 0.4rem 1rem !important;
  display: inline-block;
}

/*# sourceMappingURL=header.css.map */
