* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  min-width: 22.6rem;
  direction: rtl;
  font-family: "Vazir";
  background-color: whitesmoke;
}

.site {
  height: 200vh;
  min-width: 22.6rem;
  width: 100%;
}

#top_navbar,
#bottom_navbar {
  padding: 20px 10px 0;
  background-color: white;
}
#top_navbar .container,
#bottom_navbar .container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
#top_navbar .container .left-top-nav .acount,
#bottom_navbar .container .left-top-nav .acount {
  margin-left: 1rem !important;
  margin-right: 0.5rem;
}
#top_navbar .container .left-top-nav .shop,
#bottom_navbar .container .left-top-nav .shop {
  margin-right: 1rem !important;
}

#bottom_navbar {
  padding-top: 0.1rem !important;
  position: sticky;
  top: 5.2rem;
  transition: all 0.4s ease;
  box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.1);
}

.not-show-buttom_navbar {
  transform: translateY(-100%);
  transition: all 0.4s ease;
}

#top_navbar {
  position: sticky;
  top: 0;
  z-index: 5;
  padding-bottom: 1rem;
}
#top_navbar .navbar-toggler-icon {
  display: none;
}

.stuck-nav {
  position: fixed;
  top: -1rem;
}

#logo-section {
  min-width: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

#logo-section > h3 {
  color: #4b566b;
  font-family: "Vazir";
  font-size: 1.5rem;
  text-transform: capitalize;
  position: relative;
}

#site-logo {
  position: absolute;
  right: 7.5rem;
  border-radius: 20%;
  color: white;
  background: linear-gradient(to right top, #d659d4, #37d1e9);
  padding: 0.2rem;
  font-size: 1.5rem;
  margin-left: 1rem;
}

#search {
  margin-right: 1rem;
  width: 58%;
  display: flex;
  position: relative;
}

.search_input {
  width: 80%;
  padding: 0.7rem 2.2rem;
  padding-left: 0.3rem;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: 1px solid #dae1e7;
  outline: none;
  font-family: "Vazir";
  font-weight: bold;
  font-size: 0.9rem;
  color: #15203a;
}

.search-icon {
  color: #4b566b;
  font-weight: lighter;
  position: absolute;
  top: 1rem;
  right: 0.7rem;
  background: white;
}

.form_select {
  margin: -1;
  background-color: white;
  border: 1px solid #dae1e7;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 0.6rem 0.8rem;
  font-family: "Vazir";
  font-size: 0.9rem;
  color: #4b566b;
  font-weight: bold;
}

.nav_tool {
  display: flex;
  align-items: center;
  position: relative;
  min-width: 7.2rem;
}

.nav-icon-box {
  color: #4b566b;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  text-align: center;
  line-height: 3.2rem;
  font-size: 1.3rem;
}

.nav-icon-box_cart {
  background-color: #f3f5f9;
}

.nav-text {
  display: flex;
  flex-direction: column;
  color: #4b566b;
  font-size: 0.9rem;
  font-weight: bold;
  position: relative;
}

.nav-caret {
  position: absolute;
  top: 1.5rem;
  left: -0.7rem;
  color: #4b566b;
  font-size: 0.77rem;
}

.nav-text-box_cart {
  margin-right: 10px;
}

.small_text {
  color: #7d879c;
  font-size: 0.68rem;
  font-weight: bold;
}

.good-num-box {
  background: linear-gradient(to right top, #d659d4, #37d1e9);
  position: absolute;
  top: 0rem;
  left: 3.6rem;
  border-radius: 50%;
  width: 1.3rem;
  height: 1.3rem;
  text-align: center;
  line-height: 1.15rem;
}

.good-num {
  font-size: 0.6rem;
  font-weight: bold;
  color: white;
}

@media (max-width: 64rem) {
  body {
    background-color: yellow;
  }

  #top_navbar .container,
#bottom_navbar .container {
    width: 100% !important;
    padding: 0 1rem;
  }

  #top_navbar {
    position: inherit;
  }
  #top_navbar .nav_tool {
    max-width: 1rem;
  }
  #top_navbar .nav-text, #top_navbar .nav-caret {
    margin: 0;
  }
}
@media (max-width: 50.5rem) {
  body {
    background-color: red;
  }

  #bottom_navbar {
    display: none;
  }

  #top_navbar {
    min-width: 20rem;
  }

  #top_navbar {
    padding: 10px 0;
    padding-right: 10px;
  }
  #top_navbar .container {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  #top_navbar .container #search {
    display: none;
  }
  #top_navbar .container .left-top-nav .navbar-toggler-icon {
    display: block;
  }
  #top_navbar .container .left-top-nav .nav_tool {
    min-width: 3rem;
    margin: 0 0.4rem !important;
    padding: 0 !important;
    justify-content: center;
  }
  #top_navbar .container .left-top-nav .shop {
    margin-left: 0 !important;
  }
  #top_navbar .container .left-top-nav .shop .good-num-box {
    left: -0.1rem;
  }
  #top_navbar .nav-text, #top_navbar .nav-caret {
    display: none;
  }

  #bottom_navbar .container {
    width: 100% !important;
    flex-direction: column;
    justify-content: flex-start;
  }
  #bottom_navbar .container .right-bottom-navbar {
    flex-direction: column;
    width: 100%;
    min-width: 20rem !important;
  }
  #bottom_navbar .container .right-bottom-navbar .right-bottom-navbar-item {
    background-color: #f6f9fc;
    margin: 0.5rem 0;
    border-radius: 0.3rem;
  }
  #bottom_navbar .container .right-bottom-navbar .rp0 {
    padding-right: 1.5rem !important;
  }
  #bottom_navbar .container .left-bottom-navbar {
    width: 100%;
  }
  #bottom_navbar .container .left-bottom-navbar .caret-down {
    right: 5rem;
  }
}
#bottom_navbar a:hover {
  color: #fe696a;
  transition: color 0.3s ease-out;
}
#bottom_navbar .container {
  width: 80%;
  color: white;
  font-weight: bold;
}
#bottom_navbar .container .right-bottom-navbar-item,
#bottom_navbar .container .left-bottom-navbar-item {
  position: relative;
  padding: 0.7rem 1.5rem;
}
#bottom_navbar .container .right-bottom-navbar-item .bottom-nav-link:hover,
#bottom_navbar .container .left-bottom-navbar-item .bottom-nav-link:hover {
  color: #fe696a;
  transition: color 0.3s ease-out;
}
#bottom_navbar .container .right-bottom-navbar-item .right-bottom-navbar-item:hover,
#bottom_navbar .container .right-bottom-navbar-item .bottom-nav-link:hover + .dropDown-menu,
#bottom_navbar .container .right-bottom-navbar-item .dropDown-menu:hover,
#bottom_navbar .container .left-bottom-navbar-item .right-bottom-navbar-item:hover,
#bottom_navbar .container .left-bottom-navbar-item .bottom-nav-link:hover + .dropDown-menu,
#bottom_navbar .container .left-bottom-navbar-item .dropDown-menu:hover {
  display: block;
}
#bottom_navbar .container .right-bottom-navbar-item .dropDown-menu,
#bottom_navbar .container .left-bottom-navbar-item .dropDown-menu {
  position: absolute;
  padding: 1rem;
  width: 40vw;
  top: 2.4rem;
  right: 0.7rem;
  display: none;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.1), 0 0 0 2px white;
}
#bottom_navbar .container .right-bottom-navbar-item .dropDown-menu ul,
#bottom_navbar .container .left-bottom-navbar-item .dropDown-menu ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#bottom_navbar .container .right-bottom-navbar-item .dropDown-menu ul .list,
#bottom_navbar .container .left-bottom-navbar-item .dropDown-menu ul .list {
  width: 50%;
  display: flex;
  flex-direction: column;
}
#bottom_navbar .container .right-bottom-navbar-item .dropDown-menu ul .list .dropDown-menu-item,
#bottom_navbar .container .left-bottom-navbar-item .dropDown-menu ul .list .dropDown-menu-item {
  margin: 0.3rem 0.5rem;
  font-size: 0.8rem;
  width: 100%;
}
#bottom_navbar .container .right-bottom-navbar-item .dropDown-menu.mobile,
#bottom_navbar .container .left-bottom-navbar-item .dropDown-menu.mobile {
  width: 13vw !important;
}
#bottom_navbar .container .right-bottom-navbar {
  display: flex;
  min-width: 31.25rem;
}
#bottom_navbar .container .left-bottom-navbar-item {
  position: relative;
}
#bottom_navbar .container .left-bottom-navbar-item .dropDown-menu.Admin {
  width: 12vw !important;
  padding: 0;
  margin: 0;
}
#bottom_navbar .container .left-bottom-navbar-item .dropDown-menu.Admin ul {
  font-size: 0.88rem;
}
#bottom_navbar .container .left-bottom-navbar-item .dropDown-menu.Admin ul .dropDown-menu-item {
  border-bottom: 1px solid rgba(191, 189, 189, 0.5);
  width: 100%;
  margin: 0.3rem 0;
  padding: 0 0 0.6rem;
}
#bottom_navbar .container .left-bottom-navbar-item .dropDown-menu.Admin ul .dropDown-menu-item a {
  width: 100%;
  display: inline-block;
}
#bottom_navbar .container .left-bottom-navbar-item .dropDown-menu.Admin ul .dropDown-menu-item span {
  padding: 0.4rem 1rem !important;
  display: inline-block;
}

.sign-model {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(56, 56, 56, 0.5);
  z-index: 10;
}

.sign-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.signin {
  width: 33%;
  height: 29rem;
  position: relative;
  overflow: hidden;
  background: white;
  border-radius: 10px;
}

.signin-header {
  border-radius: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  font-weight: bold;
}
.signin-header ul {
  display: relative;
}

.signin-header-list {
  display: inline-block;
  margin: 1rem 1rem 0.5rem 1rem;
}
.signin-header-list a {
  color: #4b566b;
  position: relative;
}
.signin-header-list .active-login,
.signin-header-list .active-signup {
  color: #006bee;
}

.login-page-btn::before,
.signup-page-btn::before {
  position: absolute;
  display: block;
  bottom: -0.55rem;
  width: 100%;
  height: 1.5px;
  background-color: transparent;
  transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out, border-color 0.25s ease-in-out;
  content: "";
}

.active-login::before,
.active-signup::before {
  background-color: #fe696a;
  animation: underline 1s ease-in-out;
  right: 0.2rem;
  z-index: 1;
}

.active-login::before {
  animation: underline_login 1s ease-out;
}

.active-signup::before {
  animation: underline_signup 1s ease-out;
}

@keyframes underline_signup {
  from {
    right: -0.2rem;
  }
  to {
    right: 0.2rem;
  }
}
@keyframes underline_login {
  from {
    right: 0.6rem;
  }
  to {
    right: 0.2rem;
  }
}
.signin-header {
  background: #eaecee;
  display: flex;
  justify-content: space-between;
}

.close-button {
  border: none;
  background: inherit;
  cursor: pointer;
  font-size: 1.7rem;
  font-weight: lighter;
  margin: 0.35rem 0.8rem;
  transform: rotate(45deg);
}

.singIn-height {
  height: 25rem;
  display: flex;
  align-items: center;
}

#login-form,
#signup-form {
  border-radius: 10px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  height: calc(100% - (1.5rem) *2 );
  padding: 1.5rem;
  font-size: 0.88rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#login-form .sign-lable,
#signup-form .sign-lable {
  color: #4b566b;
  font-weight: bold;
}
#login-form .password-confrim-box,
#signup-form .password-confrim-box {
  display: flex;
  justify-content: space-between;
}
#login-form .email-box,
#login-form .password-box,
#signup-form .email-box,
#signup-form .password-box {
  display: flex;
  flex-direction: column;
  position: relative;
}
#login-form .forget-remember-box,
#signup-form .forget-remember-box {
  display: flex;
  justify-content: space-between;
}
#login-form .sign-input,
#signup-form .sign-input {
  padding: 0.7rem;
  width: 100%;
  outline: none;
}
#login-form .eye,
#signup-form .eye {
  position: absolute;
  top: 2.3rem;
  left: 0.5rem;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.3);
  padding: 0.5rem;
}
#login-form .sign-lable,
#login-form .sign-input,
#signup-form .sign-lable,
#signup-form .sign-input {
  margin: 0.2rem;
}
#login-form .login-button,
#signup-form .login-button {
  padding: 0.7rem;
  background-color: #4b4bf7;
  border: none;
  box-shadow: 0 0.5rem 1.125rem -0.5rem #4646ce;
  cursor: pointer;
  color: white;
  font-family: "vazir";
  font-size: 1rem;
  font-weight: bold;
}
#login-form .login-button:hover,
#signup-form .login-button:hover {
  background-color: #4b4bf7;
  transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out, border-color 0.25s ease-in-out, box-shadow 0.2s ease-in-out;
  box-shadow: none;
}

#login-form {
  position: relative;
  top: 0;
  right: -3px;
}

#signup-form {
  position: absolute;
  top: 3.05rem;
  left: 503px;
  width: 100%;
}

.active {
  display: block;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #4b566b;
}

.d-flex {
  display: flex;
}

.w100 {
  width: 100%;
}

.w50 {
  width: 49%;
}

.rp0 {
  padding-right: 0 !important;
}

.rm1 {
  margin-right: 1rem !important;
}

.lm1 {
  margin-left: 1rem !important;
}

.lp0 {
  padding-left: 0 !important;
}

.border-focus:focus {
  outline: none;
  border: 1px solid #3475e6;
}

.no-border {
  border-bottom: none !important;
}

.input-error,
.input-error:focus {
  border: 1px solid red;
}

.caret-down {
  position: absolute;
  top: 1.15rem;
  left: -0.7rem;
  color: #4b566b;
  font-size: 0.77rem;
}

.invalid-box {
  color: red;
  font-weight: normal;
  display: none;
}
.invalid-box > p::before {
  content: "!";
  display: inline-block;
  text-align: center;
  font-size: 0.9rem;
  width: 1.2rem;
  height: 1.2rem;
  border: 1px solid red;
  border-radius: 50%;
}

/*# sourceMappingURL=style.css.map */
