
// ----------defult class
.active {
    display: block;
    // opacity: 1;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: $black-gray;
}

.d-flex {
    display: flex;
}
.w100 {
    width: 100%;
}
.w50 {
    width: 49%;
}
.rp0 {
    padding-right: 0 !important;
}
.rm1{
    margin-right: 1rem !important;
}
.lm1 {
    margin-left: 1rem !important;
}
.lp0 {
    padding-left: 0 !important;
}
.border-focus:focus {
    outline: none;
    border: 1px solid rgb(52, 117, 230);
}
.no-border{
    border-bottom: none !important;
}
.input-error,
.input-error:focus {
    border: 1px solid red;
    
}
.caret-down {
    position: absolute;
    top: 1.15rem;
    left: -.7rem;
    color: #4b566b;
    font-size: 0.77rem;
}
.invalid-box{
    color: red; 
    font-weight: normal;
    display: none;
    > p::before{
        content: '!';
        display: inline-block;
        text-align: center;
        font-size: .9rem;
        width: 1.2rem;
        height: 1.2rem;
        border: 1px solid red;
        border-radius: 50%;
  }
}