* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // font-family: "Vazir";
}
body,
html {
    min-width: 22.6rem;
    direction: rtl;
    font-family: "Vazir";
    background-color: whitesmoke;
}
.site {
    // background-color: lightblue;
    height: 200vh;
    min-width: 22.6rem;
    width: 100%;
}
// ---------------------------------------------------- header
// #header {
//     // position: relative;
//     // background-color: white;
    
// }
#top_navbar,
#bottom_navbar {
    padding: 20px 10px 0;
    background-color: white;
    .container {
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        .left-top-nav{
            
            .acount {
                margin-left: 1rem !important;
                margin-right: .5rem;

            }
            .shop {
                margin-right: 1rem !important;
            }
        }
    }
}
#bottom_navbar {
    padding-top: .1rem !important;
}
// ------------ sticky top nav 
#top_navbar{
    position: sticky;
    top: 0;
    z-index: 500;
    padding-bottom: 1rem;

    /////////////////////////////
    .navbar-toggler-icon {
        display: none;

    }/////////////////////////////////
}
// ------------

// --------- top navbar

.stuck-nav {
    position: fixed;
    top: -1rem;
}
// -- site logo
#logo-section {
    min-width: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
#logo-section > h3 {
    color: #4b566b;
    font-family: "Vazir";
    font-size: 1.5rem;
    // font-weight: bold;
    text-transform: capitalize;
    position: relative;
}
#site-logo {
    position: absolute;
    right: 7.5rem;
    border-radius: 20%;
    color: white;
    background: linear-gradient(to right top, rgb(214, 89, 212), rgb(55, 209, 233));
    padding: 0.2rem;
    font-size: 1.5rem;
    margin-left: 1rem;
}
// -- search box
#search {
    margin-right: 1rem;
    width: 58%;
    display: flex;

    position: relative;
}
.search_input {
    width: 80%;
    padding: 0.7rem 2.2rem;
    padding-left: .3rem;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: 1px solid #dae1e7;
    outline: none;

    font-family: "Vazir";
    font-weight: bold;
    font-size: 0.9rem;
    color: #15203a;
}

.search-icon {
    color: #4b566b;
    font-weight: lighter;
    position: absolute;
    top: 1rem;
    right: 0.7rem;
    background: white;
}
// -- select & option
.form_select {
    margin: -1;
    background-color: white;
    border: 1px solid #dae1e7;
    border-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 0.6rem 0.8rem;
    font-family: "Vazir";
    font-size: 0.9rem;
    color: #4b566b;
    font-weight: bold;
}

// -- nav tools

.nav_tool {
    display: flex;
    align-items: center;
    position: relative;
    min-width: 7.2rem;
}
.nav-icon-box {
    color: $black-gray;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    text-align: center;
    line-height: 3.2rem;
    font-size: 1.3rem;
}

.nav-icon-box_cart {
    background-color: #f3f5f9
}
.nav-text {
    display: flex;
    flex-direction: column;
    color: #4b566b;
    font-size: 0.9rem;
    font-weight: bold;
    position: relative;
}
///////////////////////////////


///////////////////////////////
.nav-caret {
    position: absolute;
    top: 1.5rem;
    left: -0.7rem;
    color: #4b566b;
    font-size: 0.77rem;
}
.nav-text-box_cart {
    margin-right: 10px;
}
.small_text {
    color: #7d879c;
    font-size: 0.68rem;
    font-weight: bold;
}
.good-num-box {
    background: linear-gradient(to right top, rgb(214, 89, 212), rgb(55, 209, 233));
    position: absolute;
    top: 0rem;
    left: 3.6rem;
    border-radius: 50%;
    width: 1.3rem;
    height: 1.3rem;
    text-align: center;
    line-height: 1.15rem;
}
.good-num {
    font-size: 0.6rem;
    font-weight: bold;
    color: white;
}

// -- media query : responsive
@media (max-width: 64rem) {
    
    body {
        background-color: yellow;
    }

    #top_navbar,
    #bottom_navbar {
        .container {
            width: 100% !important;
            padding: 0 1rem;
        }
    }
    #top_navbar {
        position: inherit;

        .nav_tool {
            max-width: 1rem;

        }

        .nav-text, .nav-caret {
            margin: 0;
        }
    }

}
@media (max-width: 50.5rem) {
    
    body {
        
        background-color: red;
    }

    #bottom_navbar {
        display: none;
        
    }
    #top_navbar {
        min-width: 20rem;
    }

    #top_navbar {
        padding: 10px 0;
        padding-right: 10px;

        .container {
            width: 100%;
            padding: 0;
            margin: 0;

            #search {
                display: none;
            }

            .left-top-nav{
                
                .navbar-toggler-icon {
                    display: block;
                }
                .nav_tool {
                    min-width: 3rem;
                    margin: 0 .4rem !important;
                    padding: 0 !important;
                    justify-content: center;
                    
                }
                
                .shop {
                    margin-left: 0 !important;
                    .good-num-box {
                        left: -.1rem;
                    }
                }
            }
        }

        .nav-text, .nav-caret {
            display: none;
            
        }
    }

    #bottom_navbar {

        .container {
            width: 100% !important;

            .right-bottom-navbar {
                flex-direction: column;
                width: 100%;
                
                min-width: 20rem !important;

                .right-bottom-navbar-item {
                    background-color: #f6f9fc;
                    margin: .5rem 0;
                    border-radius: .3rem;
                }
                .rp0 {
                    padding-right: 1.5rem !important;
                }
            }
            .left-bottom-navbar {
                width: 100%;
                .caret-down {
                    right: 5rem;
                }
            }
            flex-direction: column;
            
            justify-content: flex-start;
        }
    }
}

// --------- bottom navbar

#bottom_navbar {

    a:hover {
        color: $pink;
        transition: color .3s ease-out;
    }

    .container {
        width: 80%;
        color: white;
        font-weight: bold;


        // ------- right & left
        .right-bottom-navbar-item,
        .left-bottom-navbar-item {
            position: relative;
            padding: .7rem 1.5rem;
           

            .bottom-nav-link:hover{
                color: $pink;
                transition: color .3s ease-out;
            }

            .right-bottom-navbar-item:hover,
            .bottom-nav-link:hover + .dropDown-menu,
            .dropDown-menu:hover{
                display: block;
            }

            
            .dropDown-menu {
                position: absolute;
                padding: 1rem;
                width: 40vw;
                top: 2.4rem;
                right: .7rem;
                display: none;
                background-color: white;
                border-radius: 5px;
                box-shadow: 0 0 1.2rem rgba(0, 0, 0, .1), 0 0 0 2px white;

                ul {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;

                    .list {
                        width: 50%;
                        display: flex;
                        flex-direction: column;

                        .dropDown-menu-item {
                            margin: .3rem .5rem;
                            font-size: .8rem;
                            width: 100%;
                        }
                    }
                }
            }

            .dropDown-menu.mobile {   
                width: 13vw !important;
            }
        }

        //-------- right
        .right-bottom-navbar {
            display: flex;
            min-width: 31.25rem;
        }
        

        //------- left
        .left-bottom-navbar-item {
            position: relative;

            .dropDown-menu.Admin {
                width: 12vw !important;
                padding: 0;
                margin: 0;


                ul {
                    font-size: .88rem;

                    .dropDown-menu-item {
                        border-bottom: 1px solid rgba(191, 189, 189, .5);
                        width: 100%;
                        margin: .3rem 0;
                        padding: 0 0 .6rem;

                        a {
                            width: 100%;
                            display: inline-block;
                        }

                        span {
                            padding: 0.4rem 1rem !important;
                            display: inline-block;
                        }
                    }
                }
            }
            
        }
        

    }
    
    
}


// -------------------------------------------------------- body

