* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // font-family: "Vazir";
}
body,
html {
    direction: rtl;
    font-family: "Vazir";
    background-color: whitesmoke;
}
.site {
    // background-color: lightblue;
    height: 200vh;
    width: 100%;
}
// ---------------------------------------------------- header
#header {
    position: relative;
    background-color: white;
}
#top_navbar,
#bottom_navbar {
    padding: 10px;

    .container {
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
    }
}

// --------- top navbar

.stuck-nav {
    position: fixed;
    top: -1rem;
}
// -- site logo
#logo-section {
    width: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
#logo-section > h3 {
    color: #4b566b;
    font-family: "Vazir";
    font-size: 1.5rem;
    // font-weight: bold;
    text-transform: capitalize;
    position: relative;
}
#site-logo {
    position: absolute;
    right: 7.5rem;
    border-radius: 20%;
    color: white;
    background: linear-gradient(to right top, rgb(214, 89, 212), rgb(55, 209, 233));
    padding: 0.2rem;
    font-size: 1.5rem;
    margin-left: 1rem;
}
// -- search box
#search {
    margin-right: 1rem;
    width: 58%;
    display: flex;

    position: relative;
}
.search_input {
    width: 80%;
    padding: 0.7rem 2.2rem;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: 1px solid #dae1e7;
    outline: none;

    font-family: "Vazir";
    font-weight: bold;
    font-size: 0.9rem;
    color: #15203a;
}

.search-icon {
    color: #4b566b;
    font-weight: lighter;
    position: absolute;
    top: 1rem;
    right: 0.7rem;
    background: white;
}
// -- select & option
.form_select {
    margin: -1;
    background-color: white;
    border: 1px solid #dae1e7;
    border-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 0.6rem 0.8rem;
    font-family: "Vazir";
    font-size: 0.9rem;
    color: #4b566b;
    font-weight: bold;
}

// -- nav tools

.nav_tool {
    display: flex;
    align-items: center;
    position: relative;
}
.nav-icon-box {
    color: $black-gray;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    text-align: center;
    line-height: 3.2rem;
    font-size: 1.3rem;
}

.nav-icon-box_cart {
    background: rgba(194, 193, 193, 0.5);
}
.nav-text {
    display: flex;
    flex-direction: column;
    color: #4b566b;
    font-size: 0.9rem;
    font-weight: bold;
    position: relative;
}
.nav-caret {
    position: absolute;
    top: 1.5rem;
    left: -0.7rem;
    color: #4b566b;
    font-size: 0.77rem;
}
.nav-text-box_cart {
    margin-right: 10px;
}
.small_text {
    color: #7d879c;
    font-size: 0.68rem;
    font-weight: bold;
}
.good-num-box {
    background: linear-gradient(to right top, rgb(214, 89, 212), rgb(55, 209, 233));
    position: absolute;
    top: 0rem;
    left: 3.6rem;
    border-radius: 50%;
    width: 1.3rem;
    height: 1.3rem;
    text-align: center;
    line-height: 1.15rem;
}
.good-num {
    font-size: 0.6rem;
    font-weight: bold;
    color: white;
}

// -- media query : responsive

@media (max-width: 1100px) {
    #search {
        width: 50%;
    }
    .search-icon-box {
        position: relative;
    }
    .search_icon {
        position: absolute;
        top: 0.8rem;
        right: 1rem;
    }
    
}

// --------- bottom navbar

#bottom_navbar {
    // background: lightgreen;
    // display: flex;
    // justify-content: space-between;
    // font-weight: bold;

    .container {
        width: 80%;
        color: white;
        // background: lightgreen;
        font-weight: bold;

        .right-bottom-navbar {
            display: flex;
        
        }

        li {
            padding: .7rem 1.5rem;
        }

        .botton-nav-link:hover{
            color: $pink;
            transition: color .19s ease-in-out;
        }
    
        

    }
    
    
}


// -------------------------------------------------------- signin/up
// ---------- login
.sign-model {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(56, 56, 56, 0.5);

}
.sign-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.signin {
    width: 33%;
    height: 29rem;
    position: relative;
    overflow: hidden;
    background: white;
    border-radius: 10px;
}
.signin-header {
    border-radius: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    font-weight: bold;
    ul {
        display: relative;
    }
}
.signin-header-list {
    display: inline-block;
    margin: 1rem 1rem 0.5rem 1rem;

    a {
        color: $black-gray;
        position: relative;
    }
    .active-login,
    .active-signup {
        color: rgb(0, 107, 238);
    }
}
.login-page-btn::before,
.signup-page-btn::before {
    position: absolute;
    display: block;
    bottom: -0.55rem;
    width: 100%;
    height: 1.5px;
    background-color: transparent;
    transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out,
        border-color 0.25s ease-in-out;
    content: "";
}

.active-login::before,
.active-signup::before {
    background-color: #fe696a;
    animation: underline 1s ease-in-out;
    right: 0.2rem;
    z-index: 1;
}

.active-login::before{
    animation: underline_login 1s ease-out; 
}
.active-signup::before {
    animation: underline_signup 1s ease-out;
}


@keyframes underline_signup {
    from {
        right: -.2rem;
    }
    to {
        right: .2rem;
    }
}
@keyframes underline_login {
    from {
        right: .6rem;
    }
    to {
        right: .2rem;
    }
}

.signin-header {
    background: #eaecee;
    display: flex;
    justify-content: space-between;
}
.close-button {
    border: none;
    background: inherit;
    cursor: pointer;
    font-size: 1.7rem;
    font-weight: lighter;
    margin: 0.35rem 0.8rem;
    transform: rotate(45deg);
}

.singIn-height {
    height: 25rem;
    display: flex;
    align-items: center;
}
#login-form,
#signup-form {
    border-radius: 10px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    height: calc(100% - (1.5rem) *2 );
    padding: 1.5rem;
    font-size: 0.88rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .sign-lable {
        color: $black-gray;
        font-weight: bold;
    }
    .password-confrim-box {
        display: flex;
        justify-content: space-between;
    }
    .email-box,
    .password-box {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    
    .forget-remember-box {
        display: flex;
        justify-content: space-between;
    }

    .sign-input {
        padding: 0.7rem;
        width: 100%;
        outline: none;
    }

    .eye {
        position: absolute;
        top: 2.3rem;
        left: 0.5rem;
        cursor: pointer;
        color: rgba(0, 0, 0, 0.3);
        padding: 0.5rem;
    }

    .sign-lable,
    .sign-input {
        margin: 0.2rem;
    }

    .login-button {
        padding: 0.7rem;
        background-color: rgb(75, 75, 247);
        border: none;
        box-shadow: 0 0.5rem 1.125rem -0.5rem rgb(70, 70, 206);
        cursor: pointer;
        color: white;
        font-family: "vazir";
        font-size: 1rem;
        font-weight: bold;
    }

    .login-button:hover {
        background-color: rgb(75, 75, 247);
        transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out, border-color 0.25s ease-in-out,
            box-shadow 0.2s ease-in-out;
        box-shadow: none;
    }
}

#login-form {
    position: relative;
    top: 0;
    right: -3px;
}

#signup-form {
    position: absolute;
    top: 3.05rem;
    left: 503px;
    width: 100%;
}



// ----------defult class
.active {
    display: block;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: $black-gray;
}

.w100 {
    width: 100%;
}
.w50 {
    width: 49%;
}
.rp0 {
    padding-right: 0 !important;
}
.border-focus:focus {
    outline: none;
    border: 1px solid rgb(52, 117, 230);
}
.input-error,
.input-error:focus {
    border: 1px solid red;
    
}

.invalid-box{
    color: red; 
    font-weight: normal;
    display: none;
    > p::before{
        content: '!';
        display: inline-block;
        text-align: center;
        font-size: .9rem;
        width: 1.2rem;
        height: 1.2rem;
        border: 1px solid red;
        border-radius: 50%;
  }
}



// -------------------------------------------------------- body

